schemas/geosciml/2.0_rc2/earthMaterial.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" gsml:dummy="" cgu:dummy="" gml:dummy=""><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML Earth Material package contains classes representing a description of a naturally occurring substance in the Earth.  

Earth Material represents material composition or substance, and is thus independent of quantity or location. Ideally, Earth Materials are defined strictly based on physical properties, but because of standard geological usage, genetic interpretations may enter into the description as well. </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/schemas/cgiutilities/1.0/cgiUtilities.xsd"/>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element name="MaterialRelation" substitutionGroup="gsml:GeologicRelation" type="gsml:MaterialRelationType">
        <annotation>
            <documentation>The concrete MaterialRelation class is a subtype of the abstract GeologicRelation class which describes the relationships between constituent parts in an Earth Material (eg: A mineral overgrowth on a phenocryst within a granite). 

Relationships are always binary and directional.  There is always a single source and a single target.  The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  Consider an overgrowth of albite on plagioclase in a granite.  The  Source would point to the albite mineral description.  In this case, the Target would point to the plagioclase mineral description and the relationship attribute would be 'overgrowth' and the sourceRole is 'overgrows' and the targetRole is 'overgrown'.  Other appropriate role attributes might include: crosscuts, replaces, etc. for crosscutting and replacement relationships.</documentation>
        </annotation>
    </element>
    <complexType name="MaterialRelationType">
        <complexContent>
            <extension base="gsml:GeologicRelationType">
                <sequence>
                    <element name="source" type="gsml:ConstituentPartPropertyType"/>
                    <element name="target" type="gsml:ConstituentPartPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MaterialRelationPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:MaterialRelation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="MaterialRelationPropertyByValueType">
        <sequence>
            <element ref="gsml:MaterialRelation"/>
        </sequence>
    </complexType>
    <element abstract="true" name="CompoundMaterial" substitutionGroup="gsml:EarthMaterial" type="gsml:CompoundMaterialType">
        <annotation>
            <documentation>An EarthMaterial composed of particles composed of EarthMaterials, possibly including other CompoundMaterials.  Includes consolidated and unconsolidated materials as well as mixtures of consolidated and unconsolidated materials.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="CompoundMaterialType">
        <complexContent>
            <extension base="gsml:EarthMaterialType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="compositionCategory" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Term to specify the gross compositional character of a compound material. Composition as used here is loosely construed to include both chemical composition and petrograpic composition, thus multiple values may be applied to a single rock, e.g. metaluminous and alkalic, undersaturated and basic, etc. Terms would typically include broad chemical classifications such as silicate, carbonate, ferromagnesian, oxide.  However, this attribute may have different terminology for different kinds of rocks - for example sandstone petrographic classification terms (e.g. feldspathic) might be placed here.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="geneticCategory" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>A term that represents a summary geologic history of the material. (ie, a genetic process classifier term)  Examples include igneous, sedimentary, metamorphic, shock metamorphic, volcanic, pyroclastic.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="fabric" type="gsml:FabricDescriptionPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="part" type="gsml:ConstituentPartPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="particleGeometry" type="gsml:ParticleGeometryDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CompoundMaterialPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:CompoundMaterial"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="UnconsolidatedMaterial" substitutionGroup="gsml:CompoundMaterial" type="gsml:UnconsolidatedMaterialType">
        <annotation>
            <documentation>A CompoundMaterial that consists of particles that are not bound together to form a solid material. May occur either at the surface or at depth.  May include sediment, mud, sand, soil, volcanic detritus etc.  Cohesion of these materials forms a continuum with weakly consolidated rocks, and as such some UnconsolidatedMaterials may have a minor degree of cohesion (eg, a clay soil).</documentation>
        </annotation>
    </element>
    <complexType name="UnconsolidatedMaterialType">
        <complexContent>
            <extension base="gsml:CompoundMaterialType">
                <sequence>
                    <element name="consolidationDegree" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Cohesion of these materials forms a continuum with weakly consolidated rocks, and as such some UnconsolidatedMaterials may have some minor degree of cohesion (eg, a clay soil).
For the 'UnconsolidatedMaterial' class the consolidationDegree should be 'unconsolidated' or one of its sub categories.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="lithology" type="gsml:ControlledConceptPropertyType">
                        <annotation>
                            <documentation>A controlled concept indicating the name of the uncosolidated material type (eg, sand, mud, soil, saprolite).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="physicalProperty" type="gsml:PhysicalDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="UnconsolidatedMaterialPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:UnconsolidatedMaterial"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Cast" substitutionGroup="gsml:MaterialFossil" type="gsml:CastType">
        <annotation>
            <documentation>A replica or reproduction of the external details (size, shape, surface features) of a fossil shell, skeleton, or other organic structure, produced by the filling of a cavity originally formed by the decay or dissolution of some or all of the original hard parts of the organism. May form by in situ replacement (ie, there may never be an actual cavity).</documentation>
        </annotation>
    </element>
    <complexType name="CastType">
        <complexContent>
            <extension base="gsml:MaterialFossilType"/>
        </complexContent>
    </complexType>
    <complexType name="CastPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:Cast"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="true" name="EarthMaterial" substitutionGroup="gml:_GML" type="gsml:EarthMaterialType">
        <annotation>
            <documentation>The Earth Material class holds a description of a naturally occurring substance in the Earth.  Earth Material represents material composition or substance, and is thus independent of quantity or location. Ideally, Earth Materials are defined strictly based on physical properties, but because of standard geological usage, genetic interpretations may enter into the description as well. </documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="EarthMaterialType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="color" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Terms to specify color of the earth material.  Color schemes such as the Munsell rock and soil color schemes could be used.</documentation>
                        </annotation>
                    </element>
                    <element name="purpose" type="gsml:DescriptionPurposeType">
                        <annotation>
                            <documentation>Specification of the intended purpose/level of abstraction for the given EarthMaterial. Scoped name because intention is asserted by author of the data instance. 
Values: Instance, TypicalNorm, IdentifyingNorm.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="metadata" type="gml:ReferenceType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="EarthMaterialPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:EarthMaterial"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Rock" substitutionGroup="gsml:CompoundMaterial" type="gsml:RockType">
        <annotation>
            <documentation>A consolidated aggregate of one or more EarthMaterials, or a body of undifferentiated mineral matter, or of solid organic material [adapted from Jackson, 1997].  Includes polymineralic mineral aggregates such as granite, shale, schist, and monomineralic aggregates such as calcite limestone or marble.  Excludes unconsolidated materials.  Materials not classified as Rocks in this model include volcanic glass (inorganic fluid, non-crystalline) and coal (organic material).</documentation>
        </annotation>
    </element>
    <complexType name="RockType">
        <complexContent>
            <extension base="gsml:CompoundMaterialType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="consolidationDegree" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>A property that specifies the degree to which an aggregation of EarthMaterial particles is a distinct solid material. Consolidation and induration are related concepts specified by this property. They define a continuum from poorly-cemented collections of particles to very hard rock. Induration is the degree to which a consolidated material is made hard, operationally determined by how difficult it is to break a piece of the material. Consolidated materials may have varying degrees of induration (NADMSC, 2004)
For the 'Rock' class the consolidationDegree should be 'consolidated' or one of its sub categories.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="lithology" type="gsml:ControlledConceptPropertyType">
                        <annotation>
                            <documentation>A controlled concept indicating the name of the rock type (eg, quartz sandstone, basalt, muscovite schist).  Igneous rock definitions are governed by IUGS agreed vocabulary.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="physicalProperty" type="gsml:PhysicalDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RockPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:Rock"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="OrganicMaterial" substitutionGroup="gsml:EarthMaterial" type="gsml:OrganicMaterialType">
        <annotation>
            <documentation>An EarthMaterial that belongs to the class of chemical compounds having a reduced carbon basis (as distinct from carbonates), and derived from living organisms.  Includes high-carbon EarthMaterials such as bitumen, peat, and coal.  </documentation>
        </annotation>
    </element>
    <complexType name="OrganicMaterialType">
        <complexContent>
            <extension base="gsml:EarthMaterialType"/>
        </complexContent>
    </complexType>
    <complexType name="OrganicMaterialPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:OrganicMaterial"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="InorganicFluid" substitutionGroup="gsml:EarthMaterial" type="gsml:InorganicFluidType">
        <annotation>
            <documentation>An inorganic, non-crystalline EarthMaterial (solid, liquid, or gas) that tends to flow or conform to the shape of its container.  Includes glass.  By convention liquid mercury is considered a mineral (examples: water, brine, glass)</documentation>
        </annotation>
    </element>
    <complexType name="InorganicFluidType">
        <complexContent>
            <extension base="gsml:EarthMaterialType"/>
        </complexContent>
    </complexType>
    <complexType name="InorganicFluidPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:InorganicFluid"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Mineral" substitutionGroup="gsml:EarthMaterial" type="gsml:MineralType">
        <annotation>
            <documentation>A naturally occurring inorganic element or compound having a periodically repeating arrangement of atoms and a characteristic chemical composition or range of compositions, resulting in distinctive physical properties.  Includes mercury as a general exception to the requirement of crystallinity.  Also includes crypto-crystalline materials such as chalcedony and amorphous silica.</documentation>
        </annotation>
    </element>
    <complexType name="MineralType">
        <complexContent>
            <extension base="gsml:EarthMaterialType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="mineralName" type="gsml:ControlledConceptPropertyType">
                        <annotation>
                            <documentation>Name of the mineral (eg: orthoclase) or mineral family (eg: feldspar), approved by the International Mineralogical Association. (eg: http://www.mindat.org/mineralindex.php)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MineralPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:Mineral"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="FabricDescription" type="gsml:FabricDescriptionType">
        <annotation>
            <documentation>The FabricDescription class describes all types of fabrics associated with a CompoundMaterial (ie, tectonic, metamorphic, sedimentary, igneous fabrics or textures).  It denotes a pattern, defined by one or more CompoundMaterial constituents, that is present throughout a rock body when considered at some scale.  FabricDescription is defined based on the average configuration of many constituents.  Penetrative fabric denotes that these constituents are distributed throughout the rock volume at the scale of observation [Passchier and Trouw, 1998], and are repeated at distances that are small relative to the scale of the whole, such that they can be considered to pervade the whole uniformly (Turner and Weiss [1963] p. 21-24; Hobbs and others [1976], p. 73; Jackson [1997]; Passchier and Trouw [1998]). 

FabricDescription is distinguished from Particle Geometry based on the criteria that Particle Geometry is preserved if a CompoundMaterial is disaggregated, while FabricDescription is not defined if the material is disaggregated.

Use gml:description to capture any free text to indicate any specific or peculiar features of the described fabric in the CompoundMaterial.</documentation>
        </annotation>
    </element>
    <complexType name="FabricDescriptionType">
        <sequence>
            <element name="fabricType" type="gsml:ControlledConceptPropertyType">
                <annotation>
                    <documentation>Attribute to denote the type of fabric in the CompoundMaterial (eg, rapikivi texture, autobrecciation, spaced cleavage, porphyroblastic, cross-bedding).  The fabricType describes a pattern, defined by one or more CompoundMaterial constituents, that is present throughout a rock body when considered at some scale.  FabricDescription is defined based on the average configuration of many constituents.  Penetrative fabric denotes that these constituents are distributed throughout the rock volume at the scale of observation [Passchier and Trouw, 1998], and are repeated at distances that are small relative to the scale of the whole, such that they can be considered to pervade the whole uniformly. </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="FabricDescriptionPropertyType">
        <sequence>
            <element ref="gsml:FabricDescription"/>
        </sequence>
    </complexType>
    <element name="ParticleGeometryDescription" type="gsml:ParticleGeometryDescriptionType">
        <annotation>
            <documentation>ParticleGeometryDescription describes particles in a CompoundMaterial independent of their relationship to each other or orientation. It is distinguished from Fabric in that the ParticleGeometryDescription remains constant if the material is disaggregated into its constituent particles, whereas Fabric is lost if the material is disaggregated.  Properties include the particle size (grainsize), particle sorting (size distribution, eg: well sorted, poorly sorted, bimodal sorting), particle shape (surface rounding or crystal face development, eg: well rounded, euhedral, anhedral), and particle aspectRatio (eg: elongated, platy, bladed, compact, acicular).</documentation>
        </annotation>
    </element>
    <complexType name="ParticleGeometryDescriptionType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="particleType" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>Terms to specify the nature of individual particles of each constituent in an Earth Material aggregation, based mostly on their genesis.  If applied on ParticleDescription for CompoundMaterial, then would characterize all particles in aggregate. Use this property on CompoundMaterial to distinguish rocks composed of crystals (crystalline rocks) from rocks composed of granular particles (clasts, fragments). Examples include oolith, crystals, pore space. Constituent type is determined based on the nature of the particles, and ideally is independent of the relationship between particles in a compound material aggregation.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="aspectRatio" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>AspectRatio describes the geometry of particles based on the ratios of lengths of long, intermediate and short axes of grains. Equates to sphericity in sedimentary rocks (ie: the degree to which the shape of a particle approximates a sphere).  A quantitative specification based on the ratio of lengths of long, intermediate and short axes of grain shape (Sneed and Folk, 1958; Zingg, 1935). (eg: prolate, slightly flattened, very bladed, equant, acicular, tabular)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="shape" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>The Shape attribute describes, a) the development of crystal faces bounding particles in crystalline compond materials, and b) surface rounding of grains in sedimentary rocks.  Roundness is a measure of the sharpness of the edges between surfaces bounding a particle (see Jackson, 1997; Wadell, 1932). Terms should be appropriate for the kind of compound material (eg: for crystalline rocks- euhedral, ideoblastic, subhedral, anhedral, xenoblastic; for sedimentary rocks - angular, rounded)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="size" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>The Size attribute specifies particle grainsize.  Values may be reported using absolute measurements (eg: range, mean, median, mode, maximum) or as descriptive terms from a schema appropriate to the type of Compound Material (eg: the Udden-Wentworth sheme for clastic sedimentary rocks - silt, sand, gravel; volcaniclastic rocks - ash, lapilli, bomb; crystalline rocks - fine, medium, coarse, cryptocrystalline)</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="sorting" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>The Sorting attribute holds text or numeric terms to specify size distribution of particles in a CompoundMaterial.  Terminology for sorting in sedimentary rocks is based on the quantitative Graphic Standard Deviation (IGSD) scheme proposed by Folk (1968, 1974).  Example terms for this attribute may include sedimentary terms such as well sorted and poorly sorted, or igneous terms such as porphyritic, equigranuilar, seriate.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="ParticleGeometryDescriptionPropertyType">
        <sequence>
            <element ref="gsml:ParticleGeometryDescription"/>
        </sequence>
    </complexType>
    <element name="ConstituentPart" type="gsml:ConstituentPartType">
        <annotation>
            <documentation>The Constituent Part class describes how Earth Materials may be made up of other Earth Materials, including the proportion of the constituent part in the whole (eg: 20%, minor, dominant); the role that the constituent plays in the whole (eg: matrix, groundmass, framework, phenocryst, xenolith, vein); and type of particle (eg: grain, clast, crystal, fossil, oolite)

The distinction between "role" and "particleType" is subtle.  An operational test is that constituentType may be determined independent of relationship between particles in the aggregation, whereas role requires consideration of the relationship to other particles. A particle may be identified as clast, independent of its material composition, and independent of its relationship to other grains in a rock. The term 'floating clast' is a role, because it is dependent on the relationship 'not in contact with other clasts'. Consider Dunham's textural classification of carbonate rocks (wackestone, packstone, grainstone...) in the description of carbonate rocks. The description is predicated on identification of two kinds of intraclasts (grains) and matrix (carbonate mud), and then uses this distinction to establish relationships--mud supported vs. grain supported -- that define roles for the two types of constituents (framework, matrix...).

examples of type vs. role:
Particle type: clast. Role: framework, floating particle

particle type: crystal. Role: matrix, pseudomatrix (in case that matrix is interpreted as recrystallized material)

particle type: clast. Role: matrix (in case that matrix is interpreted as very-fine grained detrital fraction)

particle type: crystal. Role: cement (in case that material insterstitial to particles is crystalline material introduced during diagenesis)

particle type: crystal. Role: phenocryst (in igneous rock)

particle type: microlite Role: groundmass (in porphyrytic igneous rock)

particle type: crystal. Role: framework (in igneous rock)

particle type: pyroclast. role: framework (in tuff)

particle type: crystal Role: oikocryst

particle type: crystal Role: overgrowth

particle type: biogenic particle Role: floating particle

particle type: ooid Role: framework 
</documentation>
        </annotation>
    </element>
    <complexType name="ConstituentPartType">
        <sequence>
            <element name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>The fraction of the whole that is formed by a ConstituentPart in a part/whole relationship.  Used for the ConstituentPart portion in a CompoundMaterial. 

Quantity that specifies the fraction of the Earth Material formed by the part (eg: 20%, minor, dominant)</documentation>
                </annotation>
            </element>
            <element name="role" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>The role a ConstituentPart plays in a CompoundMaterial aggregation.   The same EarthMaterial may occur as different ConstituentParts playing different roles within the same CompoundMaterial.  For example, feldspar may be present as groundmass (a ConstituentPart::role) and as phenocrysts (an ConstituentPart::role) within a single igneous rock.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="material" type="gsml:EarthMaterialPropertyType"/>
            <element maxOccurs="1" minOccurs="0" name="particleGeometry" type="gsml:ParticleGeometryDescriptionPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="ConstituentPartPropertyType">
        <sequence>
            <element ref="gsml:ConstituentPart"/>
        </sequence>
    </complexType>
</schema>