schemas/geosciml/2.0_rc2/fossil.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" gsml:dummy="" gml:dummy=""><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML Fossil package contains classes for representing Fossils. 
These may be: FossilMold, TraceFossil, MaterialFossil, PreservedRemain.
They are linked to living or once living things by the Organism class</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element name="FossilMold" substitutionGroup="gsml:GeologicStructure" type="gsml:FossilMoldType">
        <annotation>
            <documentation>A fossil that is a negative image of some organism or part of an organism. Considered a structure because the mold has the same relationship to its material substrate that a geologic structure does--the mold is in the substrate, it is not the substrate itself.</documentation>
        </annotation>
    </element>
    <complexType name="FossilMoldType">
        <complexContent>
            <extension base="gsml:GeologicStructureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="sourceOrganism" type="gsml:OrganismPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FossilMoldPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:FossilMold"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="TraceFossil" substitutionGroup="gsml:GeologicStructure" type="gsml:TraceFossilType">
        <annotation>
            <documentation>A sedimentary structure produced by the life activities (other than growth) of some organism. Neuendorf et al. (2005) restrict to structures produced by animals; further consideration needed on how to deal with structures produced by other life-forms.</documentation>
        </annotation>
    </element>
    <complexType name="TraceFossilType">
        <complexContent>
            <extension base="gsml:GeologicStructureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="sourceOrganism" type="gsml:OrganismPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TraceFossilPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:TraceFossil"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="MaterialFossil" substitutionGroup="gsml:CompoundMaterial" type="gsml:MaterialFossilType">
        <annotation>
            <documentation>The preserved remains or replaced remains (casts) of plants and animals.  The MaterialFossil class describes fossils as a type of CompoundMaterial which may form a constituent part of another CompoundMaterial (such as a limestone rock).  A fossil type may have one or more described associated organisms.

Note: Trace fossils and molds are GeologicStructures and may be related to MaterialFossils through their associated organisms.  Individual fossil instances (ie, fossil specimens) are treated in this model as specimens composed of CompoundMaterial/MaterialFossil.</documentation>
        </annotation>
    </element>
    <complexType name="MaterialFossilType">
        <complexContent>
            <extension base="gsml:CompoundMaterialType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="sourceOrganism" type="gsml:OrganismPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MaterialFossilPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:MaterialFossil"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="PreservedRemain" substitutionGroup="gsml:MaterialFossil" type="gsml:PreservedRemainType">
        <annotation>
            <documentation>The original materials comprising an organism's body, shell, or other hard parts. Includes recrystallized but not replaced material. Also includes non-fossilized bone and shell remains. This material would become fossil material when it is deemed to be 'preserved ... since some past geologic or prehistoric time' [Jackson, 1997].</documentation>
        </annotation>
    </element>
    <complexType name="PreservedRemainType">
        <complexContent>
            <extension base="gsml:MaterialFossilType"/>
        </complexContent>
    </complexType>
    <complexType name="PreservedRemainPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:PreservedRemain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Organism" substitutionGroup="gml:_GML" type="gsml:OrganismType">
        <annotation>
            <documentation>Broad class to represent any living or once living thing. This is the connection to taxonomy/biology for fossils.</documentation>
        </annotation>
    </element>
    <complexType name="OrganismType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="classifier" type="gsml:ControlledConceptPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OrganismPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:Organism"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>