doc/geotime/2.0/xsd/gssp.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:gt="urn:cgi:xmlns:CGI:GeoTime:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoTime:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <include schemaLocation="geologicTime.xsd"/>
    <element name="StratigraphicPoint" substitutionGroup="sa:SamplingPoint" type="gt:StratigraphicPointType"/>
    <complexType name="StratigraphicPointType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

attribute: 
association: </documentation>
        </annotation>
        <complexContent>
            <extension base="sa:SamplingPointType">
                <sequence>
                    <element name="primaryGuidingCriterion" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="additionalCorrelationProperty" type="string"/>
                    <element name="status" type="string"/>
                    <element name="boundary" type="gt:GeochronologicBoundaryPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicPointPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicPoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GlobalStratotypeSection" substitutionGroup="gt:StratigraphicSection" type="gt:GlobalStratotypeSectionType"/>
    <complexType name="GlobalStratotypeSectionType">
        <complexContent>
            <extension base="gt:StratigraphicSectionType"/>
        </complexContent>
    </complexType>
    <complexType name="GlobalStratotypeSectionPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GlobalStratotypeSection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GlobalStratotypePoint" substitutionGroup="gt:StratigraphicPoint" type="gt:GlobalStratotypePointType"/>
    <complexType name="GlobalStratotypePointType">
        <complexContent>
            <extension base="gt:StratigraphicPointType"/>
        </complexContent>
    </complexType>
    <complexType name="GlobalStratotypePointPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GlobalStratotypePoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicSection" substitutionGroup="sa:SamplingCurve" type="gt:StratigraphicSectionType"/>
    <complexType name="StratigraphicSectionType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

attribute: 
association: </documentation>
        </annotation>
        <complexContent>
            <extension base="sa:SamplingCurveType">
                <sequence>
                    <element name="geologicSetting" type="string"/>
                    <element name="geologicDescription" type="string">
                        <annotation>
                            <documentation>Lithology, Sedimentology, Paleobathymetry</documentation>
                        </annotation>
                    </element>
                    <element name="accessibility" type="string"/>
                    <element name="conservation" type="string"/>
                    <element name="era" type="gt:GeochronologicEraPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicSectionPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicSection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>