schemas/geotime/2.0_rc2/dating.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:omx="http://www.opengis.net/omx/1.0" xmlns:om="http://www.opengis.net/om/1.0" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gt="urn:cgi:xmlns:CGI:GeoTime:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoTime:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>[WARN-A001] - No package description in UML model</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
	<import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
	<import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/schemas/cgiutilities/1.0/cgiUtilities.xsd"/>
	<include schemaLocation="geologicTime.xsd"/>
	<element name="DateMeasurement" type="gt:DateMeasurementType" substitutionGroup="om:Observation"/>
	<complexType name="DateMeasurementType">
		<complexContent>
			<extension base="om:ObservationType">
				<sequence>
					<element name="procedure" type="gt:DatingProcedurePropertyType"/>
					<element name="featureOfInterest" type="gt:GeochronSpecimenPropertyType"/>
					<element name="result" type="decimal"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DateMeasurementPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:DateMeasurement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="GeochronSpecimen" type="gt:GeochronSpecimenType" substitutionGroup="sa:Specimen"/>
	<complexType name="GeochronSpecimenType">
		<complexContent>
			<extension base="sa:SpecimenType"/>
		</complexContent>
	</complexType>
	<complexType name="GeochronSpecimenPropertyType">
		<sequence minOccurs="0">
			<element ref="gt:GeochronSpecimen"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="DatingProcedure" type="gt:DatingProcedureType" substitutionGroup="omx:ObservationProcess"/>
	<complexType name="DatingProcedureType">
		<complexContent>
			<extension base="omx:ObservationProcessType"/>
		</complexContent>
	</complexType>
	<complexType name="DatingProcedurePropertyType">
		<sequence minOccurs="0">
			<element ref="gt:DatingProcedure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="StratigraphicDateEstimate" type="gt:StratigraphicDateEstimateType" substitutionGroup="gml:TimeInstant"/>
	<complexType name="StratigraphicDateEstimateType">
		<complexContent>
			<extension base="gml:TimeInstantType">
				<sequence>
					<element name="quality" type="cgu:WildCardPropertyType"/>
					<element name="status" type="string"/>
					<element name="observationalBasis" type="om:ObservationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StratigraphicDateEstimatePropertyType">
		<sequence minOccurs="0">
			<element ref="gt:StratigraphicDateEstimate"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
</schema>
