schemas/geotime/2.0_rc2/stratigraphy.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gt="urn:cgi:xmlns:CGI:GeoTime:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoTime:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/schemas/geosciml/2.0_rc2/geosciml.xsd"/>
    <include schemaLocation="geologicTime.xsd"/>
    <element name="ChronostratigraphicBoundary" substitutionGroup="gt:StratigraphicBoundary" type="gt:ChronostratigraphicBoundaryType"/>
    <complexType name="ChronostratigraphicBoundaryType">
        <complexContent>
            <extension base="gt:StratigraphicBoundaryType">
                <sequence>
                    <element name="unitBeneath" type="gt:ChronostratigraphicUnitPropertyType"/>
                    <element name="unitAbove" type="gt:ChronostratigraphicUnitPropertyType"/>
                    <element name="correlatesWith" type="gt:GeochronologicBoundaryPropertyType"/>
                    <element name="event" type="gt:StratigraphicEventPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ChronostratigraphicBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:ChronostratigraphicBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicBoundary" substitutionGroup="gsml:Contact" type="gt:StratigraphicBoundaryType"/>
    <complexType name="StratigraphicBoundaryType">
        <complexContent>
            <extension base="gsml:ContactType"/>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicEvent" substitutionGroup="gsml:GeologicEvent" type="gt:StratigraphicEventType">
        <annotation>
            <documentation>Event is most often biostratigraphic, e.g. "First appearance of conodont X", but sometimes a paleomagnetic reversal, a chemostratigraphic, cyclostratigraphic or astrochronological event. 
It is a description of an event hypothsized to be demonstrated at the GSSP Point (Golden Spike). 
Note that since the Point is the ultimate reference object, the *Event*, rather than the *Point*, must be changed if evidence related to the original "event" is found on the wrong side of the Point. 
This constrast with an"event-chronologic" approach, by which the event would be defined first, so the position of the Point would have to be adjusted as a consequence of new evidence. 
</documentation>
        </annotation>
    </element>
    <complexType name="StratigraphicEventType">
        <complexContent>
            <extension base="gsml:GeologicEventType">
                <sequence>
                    <element name="prototype" type="gt:StratigraphicPointPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicEventPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicEvent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ChronostratigraphicUnit" substitutionGroup="gsml:GeologicUnit" type="gt:ChronostratigraphicUnitType">
        <annotation>
            <documentation>The set of all strata on earth that were formed during the related Era</documentation>
        </annotation>
    </element>
    <complexType name="ChronostratigraphicUnitType">
        <complexContent>
            <extension base="gsml:GeologicUnitType">
                <sequence>
                    <element name="rank" type="gt:StratUnitRankType"/>
                    <element name="lowerBound" type="gt:ChronostratigraphicBoundaryPropertyType"/>
                    <element name="upperBound" type="gt:ChronostratigraphicBoundaryPropertyType"/>
                    <element name="formedDuring" type="gt:GeochronologicEraPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ChronostratigraphicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:ChronostratigraphicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="LithostratigraphicBoundary" substitutionGroup="gt:StratigraphicBoundary" type="gt:LithostratigraphicBoundaryType"/>
    <complexType name="LithostratigraphicBoundaryType">
        <complexContent>
            <extension base="gt:StratigraphicBoundaryType"/>
        </complexContent>
    </complexType>
    <complexType name="LithostratigraphicBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:LithostratigraphicBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <simpleType name="StratUnitRankType">
        <restriction base="string">
            <enumeration value="Zone"/>
            <enumeration value="Sub-Stage"/>
            <enumeration value="Stage"/>
            <enumeration value="Sub-Series"/>
            <enumeration value="Series"/>
            <enumeration value="Sub-System"/>
            <enumeration value="System"/>
            <enumeration value="Sub-Erathem"/>
            <enumeration value="Erathem"/>
            <enumeration value="Eonothem"/>
            <enumeration value="Sub-Eonothem"/>
        </restriction>
    </simpleType>
</schema>