schemas/geotime/xsd/dating.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:omx="http://www.opengis.net/omx/1.0" xmlns:om="http://www.opengis.net/om/1.0" xmlns:gt="urn:cgi:xmlns:CGI:GeoTime:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoTime:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
        <appinfo>
            <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:title>Schematron constraints for "Dating"</sch:title>
                <sch:ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
                <sch:ns prefix="om" uri="http://www.opengis.net/om/1.0"/>
                <sch:ns prefix="gt" uri="urn:cgi:xmlns:CGI:GeoTime:2.0"/>
                <sch:ns prefix="gml" uri="http://www.opengis.net/gml"/>
                <sch:pattern name="Properties for DateMeasurement">
                    <sch:rule context="gt:DateMeasurement">
                        <sch:assert test="om:featureOfInterest/gt:GeochronSpecimen or empty(om:featureOfInterest/*)">featureOfInterest must contain either GeochronSpecimen or nothing (and carry an xlink:href instead)</sch:assert>
                        <sch:assert test="om:result/gml: or empty(om:result/*)">result must contain either  or nothing (and carry an xlink:href instead)</sch:assert>
                        <sch:assert test="om:procedure/gt:DatingProcedure or empty(om:procedure/*)">procedure must contain either DatingProcedure or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </sch:schema>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/schemas/cgiutilities/1.0/cgiUtilities.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gmd/gmd.xsd"/>
    <include schemaLocation="geologicTime.xsd"/>
    <element name="DateMeasurement" substitutionGroup="om:Observation" type="gt:DateMeasurementType"/>
    <complexType name="DateMeasurementType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: featureOfInterest
association: result
association: procedure</documentation>
        </annotation>
        <complexContent>
            <extension base="om:ObservationType"/>
        </complexContent>
    </complexType>
    <complexType name="DateMeasurementPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:DateMeasurement"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeochronSpecimen" substitutionGroup="sa:Specimen" type="gt:GeochronSpecimenType"/>
    <complexType name="GeochronSpecimenType">
        <complexContent>
            <extension base="sa:SpecimenType"/>
        </complexContent>
    </complexType>
    <complexType name="GeochronSpecimenPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GeochronSpecimen"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="DatingProcedure" substitutionGroup="omx:ObservationProcess" type="gt:DatingProcedureType"/>
    <complexType name="DatingProcedureType">
        <complexContent>
            <extension base="omx:ObservationProcessType"/>
        </complexContent>
    </complexType>
    <complexType name="DatingProcedurePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:DatingProcedure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicDateEstimate" substitutionGroup="gml:TimeInstant" type="gt:StratigraphicDateEstimateType"/>
    <complexType name="StratigraphicDateEstimateType">
        <complexContent>
            <extension base="gml:TimeInstantType">
                <sequence>
                    <element name="quality" type="gmd:DQ_ThematicAccuracy_PropertyType"/>
                    <element name="status" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="observationalBasis" type="om:ObservationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicDateEstimatePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicDateEstimate"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>