schemas/geosciml/2.0_rc1/geologicUnit.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" gsml:dummy="" cgu:dummy="" gml:dummy=""><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML GeologicUnit Package contains classes representing notional geologic units, whose complete and precise extent is inferred to exist. Explicit spatial properties are available through association with a MappedFeature. 

Geologic units includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised).

A number of specialized unit classes are provided. </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/schemas/cgiutilities/1.0/cgiUtilities.xsd"/>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element name="LithodemicUnit" substitutionGroup="gsml:LithologicUnit" type="gsml:LithodemicUnitType">
        <annotation>
            <documentation>A geologicUnit that lacks stratification, and is defined by lithology
Generally represents predominantly intrusive, highly deformed and/or metamorphosed rock

</documentation>
        </annotation>
    </element>
    <complexType name="LithodemicUnitType">
        <complexContent>
            <extension base="gsml:LithologicUnitType"/>
        </complexContent>
    </complexType>
    <complexType name="LithodemicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:LithodemicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="LithologicUnit" substitutionGroup="gsml:GeologicUnit" type="gsml:LithologicUnitType">
        <annotation>
            <documentation>Element representing a GeologicUnit defined by lithology independent of subdividing external and internal boundaries. May be stratified or non-stratified. This concept corresponds to LithostratigraphicUnit in the sense of the International Stratigraphic Code. Usage here follows distinction of stratified and non-stratified units from North American Code of Stratigraphic Nomenclature to represent possible presence of stratification-related properties in stratified units, but the explicit absence of those properties in an non-stratified (Lithodemic) unit. 

May represent a particular body of rock (a NADM geologic unit), or may represent a 'kind' of rock body characterized by some internal sequence of rock types and the presence of various geologic (typically sedimentary) structures.

This element will be made Abstract when a complete (enough) set of specialized data structures for subtypes is defined.
</documentation>
        </annotation>
    </element>
    <complexType name="LithologicUnitType">
        <complexContent>
            <extension base="gsml:GeologicUnitType"/>
        </complexContent>
    </complexType>
    <complexType name="LithologicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:LithologicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="LithostratigraphicUnit" substitutionGroup="gsml:LithologicUnit" type="gsml:LithostratigraphicUnitType">
        <annotation>
            <documentation>Geologic unit that has stratification, allowing specification of thickness and bedding-related properties. Note that while this usage corresponds to the formally definition of 'Lithostratigaphic unit' as defined in the North American Code of Stratigraphic Nomenclature, usage of this element does not denote definition or description of a unit in the sense of the code, only that stratification is present and can be described.</documentation>
        </annotation>
    </element>
    <complexType name="LithostratigraphicUnitType">
        <complexContent>
            <extension base="gsml:LithologicUnitType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="beddingPattern" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Term(s) specifying patterns of bedding thickness or relationships between bedding packages, 
Examples: thinning upward, thickening upward</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="beddingStyle" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Term(s) specifying the style of bedding in a stratified geologic unit, e.g. lenticular, irregular, planar, vague, massive</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="beddingThickness" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>Term(s) or numeric values characterizing the thickness of bedding in the unit.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="unitThickness" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Typical thickness of the geologic unit.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LithostratigraphicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:LithostratigraphicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ChronostratigraphicUnit" substitutionGroup="gsml:GeologicUnit" type="gsml:ChronostratigraphicUnitType">
        <annotation>
            <documentation>A Geologic Unit defined by its age. The by convention, the definingAge is the age of formation (deposition of sedimentary rock, crystallization of igneous rock).
A chronostratigraphic unit may have properties characteristic of a LithostratigraphicUnit, thus the unitThickness and bedding properties are included in this element.
</documentation>
        </annotation>
    </element>
    <complexType name="ChronostratigraphicUnitType">
        <complexContent>
            <extension base="gsml:GeologicUnitType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="beddingPattern" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Term(s) specifying patterns of bedding thickness or relationships between bedding packages, e.g. thinning upward, thickening upward</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="beddingStyle" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Term(s) specifying the style of bedding in a stratified geologic unit, e.g. lenticular, irregular, planar, vague, massive</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="beddingThickness" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>Term(s) or numeric values characterizing the thickness of bedding in the unit.</documentation>
                        </annotation>
                    </element>
                    <element name="definingAge" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>A CGI_Value that specifies the age that characterizes the chronostratigraphic unit. This age is identical with the eventAge of the preferredAge associated with ChronostratigraphicUnit (inherited from GeologicFeature), but is given special treatment for a Chronostratigraphic unit because it defines the unit.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="unitThickness" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Typical thickness of the geologic unit.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ChronostratigraphicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:ChronostratigraphicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeologicUnit" substitutionGroup="gsml:GeologicFeature" type="gsml:GeologicUnitType">
        <annotation>
            <documentation>Operationally, the GeologicUnit element is a container used to associate geologic properties with some mapped occurrence (through GeologicFeature.occurrence -&gt; MappedFeature link), or with a geologic unit ControlledConcept in a vocabulary (through the GeologicUnit.classifier -&gt;ControlledConcept link).

Conceptually, may represent a body of material in the Earth whose complete and precise extent is inferred to exist (NADM GeologicUnit, Stratigraphic unit in sense of NACSN or Intnl Stratigraphic Code), or a classifier used to characterize parts of the Earth (e.g. lithologic map unit like 'granitic rock' or 'alluvial deposit', surficial units like 'till' or 'old alluvium').

Spatial properties are only available through association with a MappedFeature. Includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised). 

Will be made Abstract when a complete (enough) set of specialized subtypes is defined.</documentation>
        </annotation>
    </element>
    <complexType name="GeologicUnitType">
        <complexContent>
            <extension base="gsml:GeologicFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="bodyMorphology" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>The geometry or form of a GeologicUnit.  Examples include: dike (dyke), cone, fan, sheet, etc. Morphology is independent of the substance (EarthMaterial) that composes the GeologicUnit.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="compositionCategory" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Term to specify the gross chemical character of geologic unit. 
Examples: silicate, carbonate, ferromagnesian, oxide.  
Chemical classification terms for igneous rocks also go here.
Examples: alkalic, subaluminous, peraluminous, mafic, felsic, intermediate.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="exposureColor" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Typical color at the outcrop of a geologic unit. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="outcropCharacter" type="gsml:CGI_TermValuePropertyType">
                        <annotation>
                            <documentation>Describes the nature of outcrops formed by a geologic unit.   Examples: bouldery, cliff-forming, ledge-forming, slope-forming, poorly exposed</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="rank" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Term that classifies the geologic unit in a generalization hierarchy from most local/smallest volume to most regional. Scoped name because classification is asserted, not based on observational data.
Examples: group, subgroup, formation, member, bed, intrusion, complex, batholith</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="classifier" type="gsml:ControlledConceptPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="composition" type="gsml:CompositionPartPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="metamorphicCharacter" type="gsml:MetamorphicDescriptionPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="part" type="gsml:GeologicUnitPartPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="physicalProperty" type="gsml:PhysicalDescriptionPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="weatheringCharacter" type="gsml:WeatheringDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="DeformationUnit" substitutionGroup="gsml:GeologicUnit" type="gsml:DeformationUnitType">
        <annotation>
            <documentation>GeologicUnit defined by containment of or association with some geologic structure. DeformationUnits may be predominantly brittle, discontinuous deformation, ductile/plastic deformation or a combination of these.  

Includes fault zone, which is a body of rock characterized by deformation associated with some ShearDisplacementStructure feature, and mapped as such. If there are many faults contained in the DeformationUnit then these form a FaultSystem, so there is a zero to one association between DeformationUnit and ShearDisplacementStructure, with the ShearDisplacementStructure being either a FaultSystem, DuctileShearStructure or a Fault. The faults are not the geologic unit, the deformed rock is the geologic unit.

A ShearDisplacementStructure may be associated with 0 to one DeformationUnit. Such a DeformationUnit may have 1 or more parts distinguished by different kinds of fault rocks. Zero represents the case in which the DeformationUnit is not mapped or described. 

DeformationUnits may also be defined by presence of cleavage, jointing, structures with a particular orientation (e.g. 'southeast-dipping bedding domain').</documentation>
        </annotation>
    </element>
    <complexType name="DeformationUnitType">
        <complexContent>
            <extension base="gsml:GeologicUnitType">
                <sequence>
                    <element name="definingStructure" type="gsml:GeologicStructurePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DeformationUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:DeformationUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="PhysicalDescription" type="gsml:PhysicalDescriptionType">
        <annotation>
            <documentation>PhysicalDescription describes a limited but commonly used set of physical properties of Rocks and UnconsolidatedMaterials.  The Working Group recognizes that this set is an incomplete subset of potential physical properties that could be used to describe Rocks and UnconsolidatedMaterials, but it will likely cover most use cases for GeoSciML version 2.  Revision/extension of this list is antcipated in future versions.</documentation>
        </annotation>
    </element>
    <complexType name="PhysicalDescriptionType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="density" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>Material mass per unit volume</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="magneticSusceptibility" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>Material magnetic susceptibility, customarily measured in SI units.  The ratio of induced magnetization to the strength of the magnetic field causing the magnetization.
Note that volume magnetic susceptibility is dimensionless, being magnetization (magnetic dipole moment) in amperes per metre (SI) divided by the applied field, also in amperes per metre. However, many tables of magnetic susceptibility and some instruments give cgs values that rely on different definitions of the permeability of free space than SI values. The cgs value of susceptibility is multiplied by 4pi to give the SI susceptibility value. For example, the cgs volume magnetic susceptibility of water at 20?C is -7.19x10-7 which is -9.04x10-6 in SI. The xml encoding should specify whether the uom is SI or cgs, and if in cgs provide a &lt;gml:conversionToPreferredUnit&gt;.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="permeability" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>The measure of the capacity of a porous material to transmit a fluid under unequal pressure.  Customary unit of measure: millidarcy</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="porosity" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>The percentage of the bulk volume of a material that is occupied by interstices, whether isolated or connected.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="PhysicalDescriptionPropertyType">
        <sequence>
            <element ref="gsml:PhysicalDescription"/>
        </sequence>
    </complexType>
    <element name="WeatheringDescription" type="gsml:WeatheringDescriptionType">
        <annotation>
            <documentation>Data type is a container for properties describing the nature of a GeologicUnit at its interface with the atmosphere.  Soil profile description would have to be constructed as a GeologicUnit with parts representing the various horizons in the profile.</documentation>
        </annotation>
    </element>
    <complexType name="WeatheringDescriptionType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="environment" type="gsml:CGI_TermPropertyType">
                <annotation>
                    <documentation>Terms to specify the environmental context of the weathering description. Typically would be specified by terms for climate (tropical, arid, termperate, humid, polar..)</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="weatheringDegree" type="gsml:CGI_TermPropertyType">
                <annotation>
                    <documentation>term to specify degree of modification from original material, e.g. slightly weathered, strongly weathered, weathered rock grade III</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="weatheringProcess" type="gsml:CGI_TermPropertyType">
                <annotation>
                    <documentation>weatheirng process, e.g. leaching, accumulation</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="weatheringProduct" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>material result of weathering processes, e.g. saprolite, ferricrete, clay, calcrete. Materials observed in a soil profile could be identified using this property, but EarthMaterial content model does not allow representation of relationships between materials in a soil profile. A full soil profile description would have to use GeologicUnitParts and Composition part?</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="WeatheringDescriptionPropertyType">
        <sequence>
            <element ref="gsml:WeatheringDescription"/>
        </sequence>
    </complexType>
    <element name="GeologicUnitPart" type="gsml:GeologicUnitPartType">
        <annotation>
            <documentation>GeologicUnitPart associates a GeologicUnit with another GeologicUnit that is a proper part of that unit. Parts may be formal or notional . Formal parts refer to a specific body of rock, as in formal stratigraphic members. Notional parts refer to assemblages of particular EarthMaterials with particular internal structure, which may be repeated in various places within a unit (e.g. 'turbidite sequence', 'point bar assemblage', 'leucosome veins')</documentation>
        </annotation>
    </element>
    <complexType name="GeologicUnitPartType">
        <sequence>
            <element name="role" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>Nature of the parts, e.g. facies, stratigraphic, interbeds, geographic, eastern facies, </documentation>
                </annotation>
            </element>
            <element name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>Quantity that specifies the fraction of the geologic unit formed by the part.</documentation>
                </annotation>
            </element>
            <element name="containedUnit" type="gsml:GeologicUnitPropertyType"/>
        </sequence>
    </complexType>
    <complexType name="GeologicUnitPartPropertyType">
        <sequence>
            <element ref="gsml:GeologicUnitPart"/>
        </sequence>
    </complexType>
    <element name="MetamorphicDescription" type="gsml:MetamorphicDescriptionType">
        <annotation>
            <documentation>MetamorphicDescription describes the character of metamorphism applied to a CompoundMaterial or GeologicUnit using one or more properties including estimated intensity (grade; eg high grade, low grade), characteristic metamorphic mineral assemblages (facies; eg, greenschist, amphibolite), peak P-T estimates, and protolith material if known.</documentation>
        </annotation>
    </element>
    <complexType name="MetamorphicDescriptionType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="metamorphicFacies" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>A description of characteristic mineral assemblages indicative of certain metamorphic P-T conditions.  Examples include Barrovian metasedimentary zones (eg: biotite facies, kyanite facies) or assemblages developed in rocks of more mafic composition (eg: greenschist facies, amphibolite facies).</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="metamorphicGrade" type="gsml:CGI_TermValuePropertyType">
                <annotation>
                    <documentation>A term to indicate the intensity or rank of metamorphism applied to an EarthMaterial (eg: high metamorphic grade, low metamorphic grade)
Indicates in a general way the P-T environment in which the metamorphism took place. Determination of metamorphic grade is based on mineral assemblages (ie, facies) present in a rock that are interpreted to have crystallized in equilibrium during a particular metamorphic event.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="peakPressureValue" type="gsml:CGI_NumericValuePropertyType">
                <annotation>
                    <documentation>A numerical value to indicate the estimated pressure at peak metamorphic conditions.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="peakTemperatureValue" type="gsml:CGI_NumericValuePropertyType">
                <annotation>
                    <documentation>A numerical value to indicate the estimated temperature at peak metamorphic conditions.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="protolithLithology" type="gsml:EarthMaterialPropertyType">
                <annotation>
                    <documentation>An interpretation of the EarthMaterial that constituted the pre-metamorphic lithology for this metamorphosed CompoundMaterial.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="MetamorphicDescriptionPropertyType">
        <sequence>
            <element ref="gsml:MetamorphicDescription"/>
        </sequence>
    </complexType>
    <element name="CompositionPart" type="gsml:CompositionPartType">
        <annotation>
            <documentation>Element to represent composition of a geologic unit in terms of earth material constituents. </documentation>
        </annotation>
    </element>
    <complexType name="CompositionPartType">
        <sequence>
            <element name="role" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>Defines the relationship of the earth material constituent in the geologic unit, e.g. vein, interbedded constituent, layers, dominant constituent. Scoped name because role is asserted by the geologist building the description.</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="1" name="lithology" type="gsml:ControlledConceptPropertyType">
                <annotation>
                    <documentation>1..* so that it is possible to give a material names from several different vocabularies, e.g. chemical and genetic classifications (common in volcanic rocks) or to use multiple terms from a single vocabulary with implication that classification is a conjonction of terms.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="material" type="gsml:CompoundMaterialPropertyType">
                <annotation>
                    <documentation>0..1 because this is where the "description" of the material is (optionally) held</documentation>
                </annotation>
            </element>
            <element name="proportion" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>Quantity that specifies the fraction of the geologic unit composed of the compound material.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="CompositionPartPropertyType">
        <sequence>
            <element ref="gsml:CompositionPart"/>
        </sequence>
    </complexType>
    <simpleType name="GeologicUnitTypeType">
        <union memberTypes="gsml:GeologicUnitTypeEnumerationType gsml:GeologicUnitTypeOtherType"/>
    </simpleType>
    <simpleType name="GeologicUnitTypeEnumerationType">
        <restriction base="string">
            <enumeration value="Allostratigraphic"/>
            <enumeration value="Alteration"/>
            <enumeration value="ArtificialGround"/>
            <enumeration value="Biostratigraphic"/>
            <enumeration value="Chronostratigraphic"/>
            <enumeration value="Deformation"/>
            <enumeration value="Excavation"/>
            <enumeration value="Geomorphologic"/>
            <enumeration value="LithotectonicUnit">
                <annotation>
                    <documentation>a unit defined by geologic history or deformation
Placeholder for units defined by a distinctive fabric</documentation>
                </annotation>
            </enumeration>
            <enumeration value="PolarityChronostratigraphicUnit">
                <annotation>
                    <documentation>a body of rock that contains its primary magnetic-polarity record</documentation>
                </annotation>
            </enumeration>
            <enumeration value="Pedostratigraphic"/>
            <enumeration value="Pedoderm"/>
            <enumeration value="MassMovement"/>
            <enumeration value="MagnetostratigraphicUnit">
                <annotation>
                    <documentation>a body of rock defined by specific remanent-magnetic properties </documentation>
                </annotation>
            </enumeration>
            <enumeration value="Lithostratigraphic"/>
            <enumeration value="Lithologic"/>
            <enumeration value="Lithogenetic"/>
            <enumeration value="GeophysicalUnit">
                <annotation>
                    <documentation>a body of rock defined by its geophysical characteristics</documentation>
                </annotation>
            </enumeration>
            <enumeration value="Lithodemic"/>
        </restriction>
    </simpleType>
    <simpleType name="GeologicUnitTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>