schemas/geosciml/2.0_rc1/vocabulary.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:sa="http://www.opengis.net/sampling/1.0" targetNamespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" gsml:dummy="" sa:dummy="" cgu:dummy="" gml:dummy=""><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML Vocabulary package contains classes to support definitions and classifications. 

This package is viewed as interim until suitable ontology models and systems are identified. </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/schemas/cgiutilities/1.0/cgiUtilities.xsd"/>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <include schemaLocation="geosciml.xsd"/>
    <element name="ControlledConcept" substitutionGroup="gml:Definition" type="gsml:ControlledConceptType">
        <annotation>
            <documentation>Element to represent a defined concept.
A concept in the context of a GeologicVocabulary.   A relationship class representing inclusion of an instance of a concept in a GeologicVocabulary. The GeologicConcept instance must have an associated definition (prototype 0..1), which may be text for human interpretation, or a formal description in the form of a GeologicEntity instance. 

    * items in the classification framework
    * every GeologicUnit may be classified as being representative of a Controlled Concept. This may be a formal stratigraphic unit from a stratigraphic lexicon, or some generic mappable concept like 'alluvial fan deposit' or 'basaltic rock'.
    * a Controlled Concept instance mayt be associated with one special feature or object, which is the prototype or normative description meant to specify what the concept represents.</documentation>
        </annotation>
    </element>
    <complexType name="ControlledConceptType">
        <complexContent>
            <extension base="gml:DefinitionType">
                <sequence>
                    <element name="identifier" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Language neutral identifier for the concept. 
In GeoSciML this is normally a URN in the "classifier" branch, with the @codesSpace attribute set to "urn:ieft:rfc:2141". </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="name" type="cgu:LocalizedGenericNameType">
                        <annotation>
                            <documentation>A localized term that acts as a human-readable label for the concept. 
This is not the concept identifier. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="prototype" type="gsml:GeologicEntityPropertyType"/>
                    <element name="vocabulary" type="gsml:GeologicVocabularyPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="linkToTarget" type="gsml:VocabRelationPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="metadata" type="gml:ReferenceType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ControlledConceptPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:ControlledConcept"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeologicVocabulary" substitutionGroup="gml:Dictionary" type="gsml:GeologicVocabularyType">
        <annotation>
            <documentation>A collection of terms (ControlledConcepts) and their associated definitions and relationships between the terms, usually organized in some logical fashion such as in a hierarchy (geologic time, rocks, unconsolidated deposits...).   An instance of a GeologicConcept may occur only once in a particular GeologicVocabulary.

 In GeoSciML this is normally identified using a URN in the "classifierScheme" branch of the CGI URN scheme, with the @codesSpace attribute set to "urn:ieft:rfc:2141". </documentation>
        </annotation>
    </element>
    <complexType name="GeologicVocabularyType">
        <complexContent>
            <extension base="gml:DictionaryType">
                <sequence>
                    <element name="identifier" type="cgu:CodeWithAuthorityType">
					    <annotation>
                            <documentation>Language neutral identifier for the vocabulary. 
In GeoSciML this is normally a URN in the "classifierScheme" branch, with the @codesSpace attribute set to "urn:ieft:rfc:2141". </documentation>
                        </annotation>
					</element>
                    <element maxOccurs="1" minOccurs="0" name="metadata" type="gml:ReferenceType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicVocabularyPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:GeologicVocabulary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicLexicon" substitutionGroup="gsml:GeologicVocabulary" type="gsml:StratigraphicLexiconType">
        <annotation>
            <documentation>Geologic vocabulary that is a collection of ControlledConcepts that have (or could have...) GeologicFeature.GeologicUnit prototoype instances.</documentation>
        </annotation>
    </element>
    <complexType name="StratigraphicLexiconType">
        <complexContent>
            <extension base="gsml:GeologicVocabularyType"/>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicLexiconPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:StratigraphicLexicon"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="VocabRelation" substitutionGroup="gml:Definition" type="gsml:VocabRelationType">
        <annotation>
            <documentation>Relationships between ControlledConcepts. Use to implement thesaurus type relationships like 'broader than', 'narrower than', 'related term', 'synonym' etc. role attribute specifies relationship from source to target, read 'source' 'role' 'target'. 

VocabRelation and some other components may be replaced by another mechanism (OWL, SKOS, RDF, etc) at some future date, according to maturity and adoption level of standard technologies</documentation>
        </annotation>
    </element>
    <complexType name="VocabRelationType">
        <complexContent>
            <extension base="gml:DefinitionType">
                <sequence>
                    <element name="role" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Term that specifies the relationship between source and target vocabulary terms. Terms should be constructed so the source to target reading of the relationship is clear, for example SourceIsBroaderTerm, SourceIsChildOfTarget.</documentation>
                        </annotation>
                    </element>
                    <element name="source" type="gsml:ControlledConceptPropertyType"/>
                    <element name="target" type="gsml:ControlledConceptPropertyType"/>
                    <element name="vocabulary" type="gsml:GeologicVocabularyPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VocabRelationPropertyType">
        <sequence minOccurs="0">
            <element ref="gsml:VocabRelation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <group name="GeologicEntity">
        <annotation>
            <documentation>Union class to allow prototype descriptions for ControlledConcepts to be GeologicFeature (e.g. geologic unit or geologic structure), or EarthMaterial.</documentation>
        </annotation>
        <choice>
            <element ref="gsml:GeologicFeature">
                <annotation>
                    <documentation>An element that specifies properties for a GeologicUnit or GeologicStructure.</documentation>
                </annotation>
            </element>
            <element ref="gsml:EarthMaterial">
                <annotation>
                    <documentation>An element that specifies properties of an EarthMaterial</documentation>
                </annotation>
            </element>
        </choice>
    </group>
    <complexType name="GeologicEntityPropertyType">
        <sequence minOccurs="0">
            <group ref="gsml:GeologicEntity"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="gsml:GeologicEntityUnionSemantics"/>
    </complexType>
    <simpleType name="GeologicEntityUnionSemantics">
        <restriction base="string">
            <enumeration value="featureEntity"/>
            <enumeration value="materialEntity"/>
        </restriction>
    </simpleType>
</schema>