schemas/geotime/2.0_rc1/dating.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:omx="http://www.opengis.net/omx/1.0" xmlns:om="http://www.opengis.net/om/1.0" xmlns:gt="urn:cgi:xmlns:CGI:GeoTime:2.0" targetNamespace="urn:cgi:xmlns:CGI:GeoTime:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <include schemaLocation="geologicTime.xsd"/>
    <element name="DateMeasurement" substitutionGroup="om:Observation" type="gt:DateMeasurementType"/>
    <complexType name="DateMeasurementType">
        <complexContent>
            <extension base="om:ObservationType">
                <sequence>
                    <element name="procedure" type="gt:DatingProcedurePropertyType"/>
                    <element name="featureOfInterest" type="gt:GeochronSpecimenPropertyType"/>
                    <element name="result" type="decimal"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DateMeasurementPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:DateMeasurement"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeochronSpecimen" substitutionGroup="sa:Specimen" type="gt:GeochronSpecimenType"/>
    <complexType name="GeochronSpecimenType">
        <complexContent>
            <extension base="sa:SpecimenType"/>
        </complexContent>
    </complexType>
    <complexType name="GeochronSpecimenPropertyType">
        <sequence minOccurs="0">
            <element ref="gt:GeochronSpecimen"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="DatingProcedure" substitutionGroup="omx:ObservationProcess" type="gt:DatingProcedureType"/>
    <complexType name="DatingProcedureType">
        <complexContent>
            <extension base="omx:ObservationProcessType"/>
        </complexContent>
    </complexType>
    <complexType name="DatingProcedurePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:DatingProcedure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="StratigraphicDateEstimate" substitutionGroup="gml:TimeInstant" type="gt:StratigraphicDateEstimateType"/>
    <complexType name="StratigraphicDateEstimateType">
        <complexContent>
            <extension base="gml:TimeInstantType">
                <sequence>
                    <element name="quality" type="string"/>
                    <element name="status" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="observationalBasis" type="om:ObservationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StratigraphicDateEstimatePropertyType">
        <sequence minOccurs="0">
            <element ref="gt:StratigraphicDateEstimate"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>