schemas/geosciml/4.0/geoSciMLExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by Eric Boisvert (Natural Resources Canada) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:gsmlb="http://xmlns.geosciml.org/GeoSciML-Basic/4.0" xmlns:gsmle="http://xmlns.geosciml.org/GeoSciML-Extension/4.0" xmlns:gsmlgt="http://xmlns.geosciml.org/GeologicTime/4.0" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://xmlns.geosciml.org/GeoSciML-Extension/4.0" elementFormDefault="qualified" version="4.0.0">
	<annotation>
		<documentation>A package of classes to describe extended descriptions of geologic features.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
	<import namespace="http://xmlns.geosciml.org/GeoSciML-Basic/4.0" schemaLocation="geoSciMLBasic.xsd"/>
	<import namespace="http://xmlns.geosciml.org/GeologicTime/4.0" schemaLocation="geologicTime.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AlterationDescription" substitutionGroup="gsmlb:EarthMaterialAbstractDescription" type="gsmle:AlterationDescriptionType">
		<annotation>
			<documentation>AlterationDescription decribes aspects of a geologic unit or earth material that are the result of bulk chemical, mineralogical or physical changes related to change in the physical or chemical environment. Includes weathering, supergene alteration, hydrothermal alteration and metasomatic effects not considered metamorphic.

A soil profile description would have to be constructed as a GeologicUnit with unit parts representing the various horizons in the profile.

Thickness of a weathering profile can be delivered as unitThickness of an AlterationUnit.</documentation>
		</annotation>
	</element>
	<complexType name="AlterationDescriptionType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialAbstractDescriptionType">
				<sequence>
          <element minOccurs="0" name="alterationType" type="gml:ReferenceType">
						<annotation>
							<documentation>Term from a controlled vocabulary of alteration types (eg; potassic, argillic, advanced argillic)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:AlterationTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AlterationTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="alterationProduct">
						<annotation>
							<documentation>AlterationProduct is the material result of alteration processes, e.g. alteration minerals, saprolite, ferricrete, clay, calcrete, skarn, etc. Materials observed in a soil profile could be identified using this property.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmlb:EarthMaterial"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="alterationDistribution">
						<annotation>
							<documentation>AlterationDistribution describes the spatial distribution or geometry of alteration zones. eg: patchy, spotted, banded, viens, vein breccia, pervasive, disseminated, etc</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="alterationDegree">
						<annotation>
							<documentation>Term from a controlled vocabulary to indicate the strength of observed alteration.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="alterationEvent" type="gsmlb:GeologicEventPropertyType">
						<annotation>
							<documentation>To denote the age, environment and process associated with alteration of a GeologicUnit or material</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AlterationDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:AlterationDescription"/>
		</sequence>
	</complexType>
  <element name="BeddingDescription" substitutionGroup="gml:AbstractObject" type="gsmle:BeddingDescriptionType">
		<annotation>
			<documentation>Extended description of the bedding characteristics of a geologic unit.</documentation>
		</annotation>
	</element>
	<complexType name="BeddingDescriptionType">
		<sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="beddingPattern">
				<annotation>
					<documentation>Term(s) specifying patterns of bedding thickness or relationships between bedding packages. (eg; thinning upward, thickening upward)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Category"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element maxOccurs="unbounded" minOccurs="0" name="beddingStyle">
				<annotation>
					<documentation>Term(s) specifying the style of bedding in a stratified geologic unit (e.g. lenticular, irregular, planar, vague, massive)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Category"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element maxOccurs="unbounded" minOccurs="0" name="beddingThickness">
				<annotation>
					<documentation>Term(s) or numeric values characterizing the thickness of bedding in the unit.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Category"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="BeddingDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:BeddingDescription"/>
		</sequence>
	</complexType>
  <element name="ChemicalComposition" substitutionGroup="gsmlb:EarthMaterialAbstractDescription" type="gsmle:ChemicalCompositionType">
		<annotation>
			<documentation>A class to deliver the chemical composition of a geological unit or earth material, as a list of element or oxide concentrations.</documentation>
		</annotation>
	</element>
	<complexType name="ChemicalCompositionType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialAbstractDescriptionType">
				<sequence>
          <element minOccurs="0" name="chemicalAnalysis">
						<annotation>
							<documentation>This element delivers a swe:DataRecord of analyte concentrations (ie, swe:Quantity elements) which describe the chemical composition of an earth material or geologic unit</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:DataRecord"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ChemicalCompositionPropertyType">
		<sequence>
			<element ref="gsmle:ChemicalComposition"/>
		</sequence>
	</complexType>
  <element name="CompoundMaterialDescription" substitutionGroup="gsmlb:EarthMaterialAbstractDescription" type="gsmle:CompoundMaterialDescriptionType">
		<annotation>
			<documentation>Extended description of a compound earth material (ie, rocks and unconsolidated solid earth materials).</documentation>
		</annotation>
	</element>
	<complexType name="CompoundMaterialDescriptionType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialAbstractDescriptionType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="compositionCategory">
						<annotation>
							<documentation>Term to specify the gross compositional character of a compound material. Composition as used here is loosely construed to include both chemical composition and petrograpic composition, thus multiple values may be applied to a single rock, e.g. metaluminous and alkalic, undersaturated and basic, etc. Terms would typically include broad chemical classifications such as silicate, carbonate, ferromagnesian, oxide.  However, this attribute may have different terminology for different kinds of rocks - for example sandstone petrographic classification terms (e.g. feldspathic) might be placed here.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="geneticCategory">
						<annotation>
							<documentation>A term that represents a summary geologic history of the material. (ie, a genetic process classifier term). Examples include igneous, sedimentary, metamorphic, shock metamorphic, volcanic, pyroclastic.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="constituent">
						<annotation>
							<documentation>Specifies the ConstituentPart that makes up part of the CompoundMaterial</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmle:ConstituentPart"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="particleGeometry" type="gsmle:ParticleGeometryDescriptionPropertyType">
            <annotation>
              <documentation>Describes particles in a CompoundMaterial independent of their relationship to each other or orientation</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CompoundMaterialDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:CompoundMaterialDescription"/>
		</sequence>
	</complexType>
  <element name="ConstituentPart" substitutionGroup="gml:AbstractGML" type="gsmle:ConstituentPartType">
		<annotation>
			<documentation>The Constituent Part class describes how Earth Materials may be made up of other Earth Materials, including the proportion of the constituent part in the whole (eg: 20%, minor, dominant); the role that the constituent plays in the whole (eg: matrix, groundmass, framework, phenocryst, xenolith, vein). The particleType property that specifies type of particle (eg: grain, clast, crystal, fossil, oolite) has been moved to the ParticleGeometryDescription data type, associated with both ConstituentPart and CompoundMaterial (GeoSciMLv2, RC3, Uppsala, Sweden).

The distinction between "role" and "particleType" is subtle.  An operational test is that constituentType may be determined independent of relationship between particles in the aggregation, whereas role requires consideration of the relationship to other particles. A particle may be identified as clast, independent of its material composition, and independent of its relationship to other grains in a rock. The term 'floating clast' is a role, because it is dependent on the relationship 'not in contact with other clasts'. Consider Dunham's textural classification of carbonate rocks (wackestone, packstone, grainstone...) in the description of carbonate rocks. The description is predicated on identification of two kinds of intraclasts (grains) and matrix (carbonate mud), and then uses this distinction to establish relationships--mud supported vs. grain supported -- that define roles for the two types of constituents (framework, matrix...).

examples of type vs. role:
Particle type: clast. Role: framework, floating particle

particle type: crystal. Role: matrix, pseudomatrix (in case that matrix is interpreted as recrystallized material)

particle type: clast. Role: matrix (in case that matrix is interpreted as very-fine grained detrital fraction)

particle type: crystal. Role: cement (in case that material insterstitial to particles is crystalline material introduced during diagenesis)

particle type: crystal. Role: phenocryst (in igneous rock)

particle type: microlite Role: groundmass (in porphyrytic igneous rock)

particle type: crystal. Role: framework (in igneous rock)

particle type: pyroclast. role: framework (in tuff)

particle type: crystal Role: oikocryst

particle type: crystal Role: overgrowth

particle type: biogenic particle Role: floating particle

particle type: ooid Role: framework</documentation>
		</annotation>
	</element>
	<complexType name="ConstituentPartType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
          <element minOccurs="0" name="proportion">
						<annotation>
							<documentation>The fraction of the whole that is formed by a ConstituentPart in a part/whole relationship.  Used for the ConstituentPart portion in a CompoundMaterial. 

Quantity that specifies the fraction of the Earth Material formed by the part (eg: 20%, minor, dominant)</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="role" type="gml:ReferenceType">
						<annotation>
							<documentation>The role a ConstituentPart plays in a CompoundMaterial aggregation. The same EarthMaterial may occur as different ConstituentParts playing different roles within the same CompoundMaterial.  For example, feldspar may be present as groundmass (a ConstituentPart::role) and as phenocrysts (an ConstituentPart::role) within a single igneous rock.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:ConstituentPartRoleTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ConstituentPartRoleTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="constituentParticleGeometry" type="gsmle:ParticleGeometryDescriptionPropertyType">
						<annotation>
							<documentation>Description of geometry of individual subset of particles</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedMaterial">
						<annotation>
							<documentation>Specifies the ConstituentPart that is playing the target role in the MaterialRelation</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmle:MaterialRelation"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="constituentMaterial">
            <annotation>
              <documentation>Specifies the EarthMaterial that is forming the ConstituentPart</documentation>
            </annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmlb:EarthMaterial"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ConstituentPartPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:ConstituentPart"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="ConstituentPartPropertyByValueType">
		<sequence>
			<element ref="gsmle:ConstituentPart"/>
		</sequence>
	</complexType>
  <element name="ContactDescription" substitutionGroup="gsmlb:ContactAbstractDescription" type="gsmle:ContactDescriptionType">
		<annotation>
			<documentation>Extended descriptive properties of a geologic contact.</documentation>
		</annotation>
	</element>
	<complexType name="ContactDescriptionType">
		<complexContent>
			<extension base="gsmlb:ContactAbstractDescriptionType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="contactCharacter">
						<annotation>
							<documentation>The character of the boundary, as opposed to its type. e.g. abrupt, gradational</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="orientation" type="gsmlb:GSML_PlanarOrientationPropertyType">
						<annotation>
							<documentation>The orientation of the contact surface</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="correlatesWith" type="gsmlgt:GeochronologicBoundaryPropertyType">
            <annotation>
              <documentation>This associates a physical geologic contact with a geochronologic (ie, time zone) boundary that may correlate with it.</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ContactDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:ContactDescription"/>
		</sequence>
	</complexType>
  <element name="DisplacementEvent" substitutionGroup="gsmlb:GeologicEvent" type="gsmle:DisplacementEventType">
		<annotation>
			<documentation>A description of the age, environment and process of a shear displacement event.</documentation>
		</annotation>
	</element>
	<complexType name="DisplacementEventType">
		<complexContent>
			<extension base="gsmlb:GeologicEventType">
				<sequence>
          <element minOccurs="0" name="incrementalDisplacement" type="gsmle:DisplacementValuePropertyType">
            <annotation>
              <documentation>Description of the parameters of the displacement</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DisplacementEventPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:DisplacementEvent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="DisplacementValue" substitutionGroup="gsmlb:ShearDisplacementStructureAbstractDescription" type="gsmle:DisplacementValueType">
		<annotation>
			<documentation>Trying to express the displacement on a fault with respect to a planar approximation of its shape</documentation>
		</annotation>
	</element>
	<complexType name="DisplacementValueType">
		<complexContent>
			<extension base="gsmlb:ShearDisplacementStructureAbstractDescriptionType">
				<sequence>
          <element minOccurs="0" name="hangingWallDirection" type="gsmlb:GSML_LinearOrientationPropertyType">
						<annotation>
							<documentation>Normally the compass quadrant indicating the hangingwall side of the fault-system for faults that are steep enough to define a hanging-wall on the map trace</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="movementSense" type="gml:ReferenceType">
						<annotation>
							<documentation>The movement sense of displacement along a geologic structure (eg, dextral, sinistral)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:MovementSenseTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">MovementSenseTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="movementType" type="gml:ReferenceType">
						<annotation>
							<documentation>Defines the type of movement  (eg dip-slip, strike-slip)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:MovementTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">MovementTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="displacementEvent" type="gsmle:DisplacementEventPropertyType">
						<annotation>
							<documentation>A description of the age, environment and process of a shear displacement event</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DisplacementValuePropertyType">
		<sequence>
			<element ref="gsmle:DisplacementValue"/>
		</sequence>
	</complexType>
  <element name="FabricDescription" substitutionGroup="gsmlb:EarthMaterialAbstractDescription" type="gsmle:FabricDescriptionType">
		<annotation>
			<documentation>The FabricDescription class describes all types of fabrics associated with a CompoundMaterial (ie, tectonic, metamorphic, sedimentary, igneous fabrics or textures).  It denotes a pattern, defined by one or more CompoundMaterial constituents, that is present throughout a rock body when considered at some scale.  FabricDescription is defined based on the average configuration of many constituents.  Penetrative fabric denotes that these constituents are distributed throughout the rock volume at the scale of observation [Passchier and Trouw, 1998], and are repeated at distances that are small relative to the scale of the whole, such that they can be considered to pervade the whole uniformly (Turner and Weiss [1963] p. 21-24; Hobbs and others [1976], p. 73; Jackson [1997]; Passchier and Trouw [1998]). 

FabricDescription is distinguished from Particle Geometry based on the criteria that Particle Geometry is preserved if a CompoundMaterial is disaggregated, while FabricDescription is not defined if the material is disaggregated.

Use gml:description to capture any free text to indicate any specific or peculiar features of the described fabric in the CompoundMaterial.</documentation>
		</annotation>
	</element>
	<complexType name="FabricDescriptionType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialAbstractDescriptionType">
				<sequence>
          <element minOccurs="0" name="fabricType" type="gml:ReferenceType">
						<annotation>
							<documentation>Attribute to denote the type of fabric in the CompoundMaterial (eg, rapikivi texture, autobrecciation, spaced cleavage, porphyroblastic, cross-bedding).  The fabricType describes a pattern, defined by one or more CompoundMaterial constituents, that is present throughout a rock body when considered at some scale. FabricDescription is defined based on the average configuration of many constituents. Penetrative fabric denotes that these constituents are distributed throughout the rock volume at the scale of observation [Passchier and Trouw, 1998], and are repeated at distances that are small relative to the scale of the whole, such that they can be considered to pervade the whole uniformly.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:FabricTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">FabricTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FabricDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:FabricDescription"/>
		</sequence>
	</complexType>
  <element name="FoldDescription" substitutionGroup="gsmlb:FoldAbstractDescription" type="gsmle:FoldDescriptionType">
		<annotation>
			<documentation>Extended descriptive properties of a fold structure.</documentation>
		</annotation>
	</element>
	<complexType name="FoldDescriptionType">
		<complexContent>
			<extension base="gsmlb:FoldAbstractDescriptionType">
				<sequence>
          <element minOccurs="0" name="amplitude">
						<annotation>
							<documentation>Length from line segment connecting inflection points on adjacent fold limbs to the intervening fold hinge</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="axialSurfaceOrientation" type="gsmlb:GSML_PlanarOrientationPropertyType">
						<annotation>
							<documentation>This is used to characterize the geometry of a fold. The axial surface of a particular fold may be located based on observations of the folded geologic structure, but in general it has no direct physical manifestions. As a geologic surface, it has geometric properties, including orientation, which may be specified by observations at one or more locations, or generalized using terminology (upright, inclined, reclined, recumbent, overturned). Dip and Dip Direction are one approach to specifying the value.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="geneticModel">
						<annotation>
							<documentation>Specification of genetic model for fold, e.g. flexural slip, parallel</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="hingeLineCurvature">
						<annotation>
							<documentation>Variation in orientation of fold hinge along trend of fold, distinguish sheath from cylindrical folds. Specify with terminology eg sheath, dome, basin, cylindrical.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="hingeLineOrientation" type="gsmlb:GSML_LinearOrientationPropertyType">
						<annotation>
							<documentation>Specification of hinge line orientation for fold. CGI_LinearOrientation allows for a term value specification or a numeric specification of either or both the trend and plunge of hinge line. kHinge plunge term examples: sub-vertical, steeply plunging, ... sub-horizontal, reclined and vertical for special cases in which hinge plunge is close to axial surface dip. 0..* cardinality allows for both a numeric specification a term specification.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="hingeShape">
						<annotation>
							<documentation>Rounded vs. angular hinge zones; has to do with the proportion of the wavelength that is considered part of hinge</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="interLimbAngle">
						<annotation>
							<documentation>Specify using a tightness term (gentle (120-180), open (70-120), close (30-70), tight (10-30), isoclinal (0-10))</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="limbShape">
						<annotation>
							<documentation>Straight vs curved limbs, eg kink, chevron, sinusoidal, box</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="span">
						<annotation>
							<documentation>Llinear distance between inflection points in a single fold</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="symmetry">
						<annotation>
							<documentation>Concordance or discordance of bisecting surface and axial surface, or ratio of length of limbs. Folded surface may have asymmetry defined by limb length ratio if inflection points are defined. Defintion based on bisecting surface/axial surface angle depends on having multiple surfaces defined such that the axial surface may be identified. (symmetric, assymetric)</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="system" type="gsmle:FoldSystemPropertyType">
						<annotation>
							<documentation>Describes a broader system of folds to which an individual fold may belong</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoldDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:FoldDescription"/>
		</sequence>
	</complexType>
  <element name="FoldSystem" substitutionGroup="gsmlb:GeologicStructure" type="gsmle:FoldSystemType">
		<annotation>
			<documentation>A collection of congruent folds  (axis and axial surface are parallel) produced by the same tectonic event. Sometimes referred to as a "Fold Train".</documentation>
		</annotation>
	</element>
	<complexType name="FoldSystemType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="periodic" type="boolean">
						<annotation>
							<documentation>True if fold hinges in train are regularly spaced.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="wavelength">
						<annotation>
							<documentation>Quantitative specification of length between adjacent antiforms (or synforms) in a fold train.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="foldSystemMember" type="gsmlb:FoldPropertyType">
            <annotation>
              <documentation>Fold member of the system</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoldSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:FoldSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="FoliationDescription" substitutionGroup="gsmlb:FoliationAbstractDescription" type="gsmle:FoliationDescriptionType">
		<annotation>
			<documentation>Extended descriptive properties of a foliation structure.</documentation>
		</annotation>
	</element>
	<complexType name="FoliationDescriptionType">
		<complexContent>
			<extension base="gsmlb:FoliationAbstractDescriptionType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="definingElement">
						<annotation>
							<documentation>Kinds of describable inhomogeneity in a rock body that may define a GeologicStructure.   Examples include Discontinuity, Shaped Surface, Oriented Particle, Material Boundary, and Layer.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="continuity">
						<annotation>
							<documentation>Terms to distinguish continuous vs. disjunct cleavages</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="intensity">
						<annotation>
							<documentation>How well the foliation is developed. Terms such as weak, moderate, strong.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="mineralElement">
						<annotation>
							<documentation>The mineral that defines the foliation</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmle:Mineral"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="orientation" type="gsmlb:GSML_PlanarOrientationPropertyType">
						<annotation>
							<documentation>Estimate of the planar orientation of the foliation structure.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="spacing">
						<annotation>
							<documentation>Linear dimension representing the thickness of foliation domains. Also use for thickness of layers of a given composition</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoliationDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:FoliationDescription"/>
		</sequence>
	</complexType>
  <element abstract="true" name="Fracture" substitutionGroup="gsmlb:GeologicStructure" type="gsmle:FractureType">
		<annotation>
			<documentation>Fractures are cracks in the earth surface. If there is no displacement it is a joint. If there is displacement and you are in the brittle zone it is a fault. In the ductile zone, a fracture with displacement with fracture is called a shear.  FaultSurface as a separate class is not considered necessary for GeoSciML 2.
Recording observations on FaultSurface should be in observation and measurement. The observation needs to be able to distinguish the type of measurement made (PropertyType)</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="FractureType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FracturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:Fracture"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GeologicEventDescription" substitutionGroup="gsmlb:GeologicEventAbstractDescription" type="gsmle:GeologicEventDescriptionType">
    <annotation>
      <documentation>GeologicEventDescription provides extended description of geologic events through links to GeochronologicEras in the GeologicTimescale schema.</documentation>
    </annotation>
  </element>
	<complexType name="GeologicEventDescriptionType">
		<complexContent>
			<extension base="gsmlb:GeologicEventAbstractDescriptionType">
				<sequence>
          <element minOccurs="0" name="prototype" type="gsmlgt:StratigraphicPointPropertyType">
            <annotation>
              <documentation>Reference stratigraphic point for stratigraphic events</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="olderGeochronologicEra">
            <annotation>
              <documentation>Link to description of the GeochronologicEra that corresponds to the older estimated age of a geologic feature.</documentation>
            </annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmlgt:GeochronologicEra"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="youngerGeochronologicEra">
            <annotation>
              <documentation>Link to description of the GeochronologicEra that corresponds to the younger estimated age of a geologic feature.</documentation>
            </annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmlgt:GeochronologicEra"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicEventDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:GeologicEventDescription"/>
		</sequence>
	</complexType>
  <element name="GeologicFeatureRelation" substitutionGroup="gsmlb:AbstractFeatureRelation" type="gsmle:GeologicFeatureRelationType">
		<annotation>
			<documentation>The GeologicRelation class is an abstract class that defines the general structure used to define relationships between any feature type within GeoSciML.  Relationships are always binary and directional.  There is always a single source and a single target.  The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  a Source may point to an intrusive igneous rock unit.  In this case, the Target would point to the appropriate host rock body and the relationship attribute would be 'intrudes'.  Other appropriate relationship attributes might include: overlies, offsets, crosscuts, folds, etc.

Many other types of relationships can also be accommodated via GeologicRelation, for example, topological relations between spatial objects could be described where they are scientifically significant.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicFeatureRelationType">
		<complexContent>
			<extension base="gsmlb:AbstractFeatureRelationType">
				<sequence>
          <element minOccurs="0" name="relationship" type="gml:ReferenceType">
						<annotation>
							<documentation>A term from a controlled vocabulary to describe the geologic relationship (eg; stratigraphic relation, structural relation, intrusive relation)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:GeologicRelationshipTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeologicRelationshipTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="sourceRole" type="gml:ReferenceType">
						<annotation>
							<documentation>The role played by the source geologic feature or object (eg, overlying unit, underlying unit)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:RelationRoleTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">RelationRoleTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="targetRole" type="gml:ReferenceType">
						<annotation>
							<documentation>The role played by the target geologic feature or object. (eg, overlying unit, underlying unit)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:RelationRoleTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">RelationRoleTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicFeatureRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:GeologicFeatureRelation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GeologicUnitDescription" substitutionGroup="gsmlb:GeologicUnitAbstractDescription" type="gsmle:GeologicUnitDescriptionType">
		<annotation>
			<documentation>Extended description of the characteristics of a geologic unit.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitDescriptionType">
		<complexContent>
			<extension base="gsmlb:GeologicUnitAbstractDescriptionType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="bodyMorphology">
						<annotation>
							<documentation>The geometry or form of a GeologicUnit.  Examples include: dike (dyke), cone, fan, sheet, etc. Morphology is independent of the substance (EarthMaterial) that composes the GeologicUnit or process that formed it.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="unitComposition">
						<annotation>
							<documentation>Composition-based classification that requires integrating the character of the unit over large area, not applicable at the rock-material/specimen level. Examples: alkalic, subaluminous, peraluminous, I-Type, carbonate, phosphate.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="outcropCharacter">
						<annotation>
							<documentation>Describes the nature of outcrops formed by a geologic unit. Examples: bouldery, cliff-forming, ledge-forming, slope-forming, poorly exposed</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="unitThickness">
						<annotation>
							<documentation>Typical thickness of the geologic unit. Always reported as a range. If have a single value, the upper and lower limit of range are the same.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="bedding" type="gsmle:BeddingDescriptionPropertyType">
            <annotation>
              <documentation>Description of the bedding</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicUnitDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:GeologicUnitDescription"/>
		</sequence>
	</complexType>
  <element name="InorganicFluid" substitutionGroup="gsmlb:EarthMaterial" type="gsmle:InorganicFluidType">
		<annotation>
			<documentation>An inorganic, non-crystalline EarthMaterial (solid, liquid, or gas) that tends to flow or conform to the shape of its container.  Includes glass.  By convention liquid mercury is considered a mineral (examples: water, brine, glass)

This class is an empty placeholder for extension at a later date, or by other domain models.</documentation>
		</annotation>
	</element>
	<complexType name="InorganicFluidType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InorganicFluidPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:InorganicFluid"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="Joint" substitutionGroup="gsmle:Fracture" type="gsmle:JointType">
		<annotation>
			<documentation>Fracture across which there is no displacement at the scale of interest.</documentation>
		</annotation>
	</element>
	<complexType name="JointType">
		<complexContent>
			<extension base="gsmle:FractureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="JointPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:Joint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="Layering" substitutionGroup="gsmlb:Foliation" type="gsmle:LayeringType">
		<annotation>
			<documentation>Planar foliation defined by a tabular succession of layers &gt; 5 mm thick. This definition is based on the proposed definition of gneiss by the NADM Science Language Technical Team, so that the GeologicStructure characteristic of gneiss is layering. The committee discussed the possibility that layering should be considered a kind of foliation, but the majority opinion was that it is a different kind of structure.  Kept so that instance documents have a "Layering" tag</documentation>
		</annotation>
	</element>
	<complexType name="LayeringType">
		<complexContent>
			<extension base="gsmlb:FoliationType">
				<sequence>
          <element minOccurs="0" name="layerComposition" type="gsmlb:RockMaterialPropertyType">
            <annotation>
              <documentation>voidable: Describes the rock material that may define compositional layering</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LayeringPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:Layering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="Lineation" substitutionGroup="gsmlb:GeologicStructure" type="gsmle:LineationType">
		<annotation>
			<documentation>GeologicStructure defined by aligned elongate elements. Lineation connotes a pervasive linear structure. Includes: flow lines, scratches, striae, slickenlines, linear arrangements of
elongate components in sediments, fold hinges (when abundant and closely spaced), elongate minerals, crinkles, and lines of intersection between penetrative planar structures.

Class also includes discrete linear structures like boudin, channel axis, tool marks.</documentation>
		</annotation>
	</element>
	<complexType name="LineationType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="lineationType" type="gml:ReferenceType">
						<annotation>
							<documentation>Type of lineation.
Examples include: flow lines, scratches, striae, slickenlines, linear arrangements of elongate components in sediments, elongate minerals, crinkles, and lines of intersection between penetrative planar structures.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:LineationTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">LineationTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="definingElement">
						<annotation>
							<documentation>Kinds of describable inhomogeneity in a rock body that may define a GeologicStructure.   Examples include Oriented Particle.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="intensity">
						<annotation>
							<documentation>How well the lineation is developed. Terms such as weak, moderate, strong.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="mineralElement">
						<annotation>
							<documentation>Mineral that defines the lineation</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmle:Mineral"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="orientation" type="gsmlb:GSML_LinearOrientationPropertyType">
						<annotation>
							<documentation>Orientation of the lineation</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LineationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:Lineation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="MaterialRelation" substitutionGroup="gml:AbstractGML" type="gsmle:MaterialRelationType">
		<annotation>
			<documentation>The MaterialRelation class describes the relationships between constituent parts in an Earth Material (eg: A mineral overgrowth on a phenocryst within a granite). 

Relationships are always binary and directional.  There is always a single source and a single target. The relationship is always defined from the perspective of the Source and is generally an active verb.

Example:  Consider an overgrowth of albite on plagioclase in a granite. The  Source would originate with the albite constituentPart description.  In this case, the Target would point to the plagioclase constituentPart description and the relationship attribute would be 'overgrowth' and the sourceRole is 'overgrows'.  Other appropriate role attributes might include: crosscuts, replaces, etc. for crosscutting and replacement relationships.

Inverse relationships must be explicitly recorded as well or else they are invisible.</documentation>
		</annotation>
	</element>
	<complexType name="MaterialRelationType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
          <element minOccurs="0" name="relationship" type="gml:ReferenceType">
						<annotation>
							<documentation>A term from a controlled vocabulary to describe the geologic relationship (eg; sedimentary relation, igneous relation)</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeologicRelationshipTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="sourceRole" type="gml:ReferenceType">
						<annotation>
							<documentation>The role played by the source earth material part (eg, matrix, clast, overgrowth)</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">RelationRoleTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="targetRole" type="gml:ReferenceType">
						<annotation>
							<documentation>The role played by the target earth material part (eg, matrix, clast, overgrowth).</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">RelationRoleTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="relatedMaterial" type="gsmle:ConstituentPartPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MaterialRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:MaterialRelation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="MetamorphicDescription" substitutionGroup="gsmlb:EarthMaterialAbstractDescription" type="gsmle:MetamorphicDescriptionType">
		<annotation>
			<documentation>MetamorphicDescription describes the character of metamorphism applied to a CompoundMaterial or GeologicUnit using one or more properties including estimated intensity (grade; eg high grade, low grade), characteristic metamorphic mineral assemblages (facies; eg, greenschist, amphibolite), peak P-T estimates, and protolith material if known.</documentation>
		</annotation>
	</element>
	<complexType name="MetamorphicDescriptionType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialAbstractDescriptionType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="metamorphicFacies">
						<annotation>
							<documentation>A description of characteristic mineral assemblages indicative of certain metamorphic P-T conditions. Examples include Barrovian metasedimentary zones (eg: biotite facies, kyanite facies) or assemblages developed in rocks of more mafic composition (eg: greenschist facies, amphibolite facies).</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="metamorphicGrade">
						<annotation>
							<documentation>A term to indicate the intensity or rank of metamorphism applied to an EarthMaterial (eg: high metamorphic grade, low metamorphic grade)
Indicates in a general way the P-T environment in which the metamorphism took place. Determination of metamorphic grade is based on mineral assemblages (ie, facies) present in a rock that are interpreted to have crystallized in equilibrium during a particular metamorphic event.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="peakPressureValue">
						<annotation>
							<documentation>A numerical value to indicate the estimated pressure at peak metamorphic conditions.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Quantity"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="peakTemperatureValue">
						<annotation>
							<documentation>A numerical value to indicate the estimated temperature at peak metamorphic conditions.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Quantity"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="protolithLithology">
						<annotation>
							<documentation>An interpretation of the EarthMaterial that constituted the pre-metamorphic lithology for this metamorphosed CompoundMaterial.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gsmlb:EarthMaterial"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="metamorphicEvent" type="gsmlb:GeologicEventPropertyType">
						<annotation>
							<documentation>To denote the age, environment and process associated with a particular metamorphic assemblage in a GeologicUnit</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MetamorphicDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:MetamorphicDescription"/>
		</sequence>
	</complexType>
  <element name="Mineral" substitutionGroup="gsmlb:EarthMaterial" type="gsmle:MineralType">
		<annotation>
			<documentation>A naturally occurring inorganic element or compound having a periodically repeating arrangement of atoms and a characteristic chemical composition or range of compositions, resulting in distinctive physical properties.  Includes mercury as a general exception to the requirement of crystallinity.  Also includes crypto-crystalline materials such as chalcedony and amorphous silica.</documentation>
		</annotation>
	</element>
	<complexType name="MineralType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="mineralName" type="gml:ReferenceType">
						<annotation>
							<documentation>Name of the mineral (eg: orthoclase) or mineral family (eg: feldspar), approved by the International Mineralogical Association. (eg: http://www.mindat.org/mineralindex.php)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:MineralNameTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">MineralNameTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MineralPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:Mineral"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="NetSlipValue" substitutionGroup="gsmle:DisplacementValue" type="gsmle:NetSlipValueType">
		<annotation>
			<documentation>The total amount of slip displacement along a structure.</documentation>
		</annotation>
	</element>
	<complexType name="NetSlipValueType">
		<complexContent>
			<extension base="gsmle:DisplacementValueType">
				<sequence>
          <element minOccurs="0" name="netSlip" type="gsmlb:GSML_VectorPropertyType">
						<annotation>
							<documentation>The value of the net slip, expressed as vector.</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="slipComponent" type="gsmle:SlipComponentsPropertyType">
						<annotation>
							<documentation>Specifies the value of the individual slip components.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NetSlipValuePropertyType">
		<sequence>
			<element ref="gsmle:NetSlipValue"/>
		</sequence>
	</complexType>
  <element name="NonDirectionalStructure" substitutionGroup="gsmlb:GeologicStructure" type="gsmle:NonDirectionalStructureType">
		<annotation>
			<documentation>Structures present in geology that do not have a preferred orientation
Includes small-scale structures that are characteristic of the geologic unit, e.g. herringbone crossbedding, mudcracks, graded bedding, planar lamination, miarolitic cavities, nebulitic structure, trace fossils, fossil molds</documentation>
		</annotation>
	</element>
	<complexType name="NonDirectionalStructureType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="structureType" type="gml:ReferenceType">
						<annotation>
							<documentation>The type of non oriented structure.  Examples include miarolitic cavity, flame structure, load cast, shatter cone, trace fossil, fossil mold</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:NonDirectionalStructureTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NonDirectionalStructureTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NonDirectionalStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:NonDirectionalStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="OrganicMaterial" substitutionGroup="gsmlb:EarthMaterial" type="gsmle:OrganicMaterialType">
		<annotation>
			<documentation>An EarthMaterial that belongs to the class of chemical compounds having a reduced carbon basis (as distinct from carbonates), and derived from living organisms.  Includes high-carbon EarthMaterials such as bitumen, peat, and coal.  

This class is an empty placeholder for extension at a later date, or by other domain models</documentation>
		</annotation>
	</element>
	<complexType name="OrganicMaterialType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OrganicMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmle:OrganicMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="Organism" substitutionGroup="gml:AbstractObject" type="gsmle:OrganismType">
		<annotation>
			<documentation>Broad class to represent any living or once living thing. This is the connection to taxonomy/biology for fossils.</documentation>
		</annotation>
	</element>
	<complexType name="OrganismType">
		<sequence/>
	</complexType>
	<complexType name="OrganismPropertyType">
		<sequence>
			<element ref="gsmle:Organism"/>
		</sequence>
	</complexType>
  <element name="ParticleGeometryDescription" substitutionGroup="gml:AbstractObject" type="gsmle:ParticleGeometryDescriptionType">
		<annotation>
			<documentation>ParticleGeometryDescription describes particles in a CompoundMaterial independent of their relationship to each other or orientation. It is distinguished from Fabric in that the ParticleGeometryDescription remains constant if the material is disaggregated into its constituent particles, whereas Fabric is lost if the material is disaggregated.  Properties include the particle size (grainsize), particle sorting (size distribution, eg: well sorted, poorly sorted, bimodal sorting), particle shape (surface rounding or crystal face development, eg: well rounded, euhedral, anhedral), and particle aspectRatio (eg: elongated, platy, bladed, compact, acicular).</documentation>
		</annotation>
	</element>
	<complexType name="ParticleGeometryDescriptionType">
		<sequence>
      <element minOccurs="0" name="particleType" type="gml:ReferenceType">
				<annotation>
					<documentation>Terms to specify the nature of individual particles of each constituent in an Earth Material aggregation, based mostly on their genesis.  If applied on ParticleDescription for CompoundMaterial, then would characterize all particles in aggregate. Use this property on CompoundMaterial to distinguish rocks composed of crystals (crystalline rocks) from rocks composed of granular particles (clasts, fragments). Examples include oolith, crystals, pore space. Constituent type is determined based on the nature of the particles, and ideally is independent of the relationship between particles in a compound material aggregation.
See discussion of particleType vs ConstituentPart.role in the scope notes for ConstituentPart.</documentation>
					<appinfo>
						<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:ParticleTypeTerm</targetElement>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ParticleTypeTerm</targetCodeList>
					</appinfo>
				</annotation>
			</element>
      <element maxOccurs="unbounded" minOccurs="0" name="aspectRatio">
				<annotation>
					<documentation>AspectRatio describes the geometry of particles based on the ratios of lengths of long, intermediate and short axes of grains. Equates to sphericity in sedimentary rocks (ie: the degree to which the shape of a particle approximates a sphere).  A quantitative specification based on the ratio of lengths of long, intermediate and short axes of grain shape (Sneed and Folk, 1958; Zingg, 1935). (eg: prolate, slightly flattened, very bladed, equant, acicular, tabular)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Category"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element maxOccurs="unbounded" minOccurs="0" name="shape">
				<annotation>
					<documentation>The Shape attribute describes, a) the development of crystal faces bounding particles in crystalline compond materials, and b) surface rounding of grains in sedimentary rocks. Roundness is a measure of the sharpness of the edges between surfaces bounding a particle (see Jackson, 1997; Wadell, 1932). Terms should be appropriate for the kind of compound material (eg: for crystalline rocks- euhedral, ideoblastic, subhedral, anhedral, xenoblastic; for sedimentary rocks - angular, rounded)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Category"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element minOccurs="0" name="size">
				<annotation>
					<documentation>The Size attribute specifies particle grainsize.  Values may be reported using absolute measurements (eg: range, mean, median, mode, maximum) or as descriptive terms from a schema appropriate to the type of Compound Material (eg: the Udden-Wentworth sheme for clastic sedimentary rocks - silt, sand, gravel; volcaniclastic rocks - ash, lapilli, bomb; crystalline rocks - fine, medium, coarse, cryptocrystalline)</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:QuantityRange"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element maxOccurs="unbounded" minOccurs="0" name="sorting">
				<annotation>
					<documentation>The Sorting attribute holds text terms to specify size distribution of particles in a CompoundMaterial. Terminology for sorting in sedimentary rocks is based on the quantitative Graphic Standard Deviation (IGSD) scheme proposed by Folk (1968, 1974).  Example terms for this attribute may include sedimentary terms such as well sorted and poorly sorted, or igneous terms such as porphyritic, equigranuilar, seriate.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Category"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element maxOccurs="unbounded" minOccurs="0" name="sourceOrganism">
				<annotation>
          <documentation>Organism that are the source of the particles (sponge spicules, bivalvia shells, etc.)</documentation>
					<appinfo>
						<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:Organism</targetElement>
					</appinfo>
				</annotation>
				<complexType>
					<sequence/>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ParticleGeometryDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:ParticleGeometryDescription"/>
		</sequence>
	</complexType>
  <element name="PhysicalDescription" substitutionGroup="gsmlb:EarthMaterialAbstractDescription" type="gsmle:PhysicalDescriptionType">
		<annotation>
			<documentation>A class to describe the numeric physical properties of a geologic unit, earth material, or geologic structure. (eg; density, porosity, magnetic susceptibility, remanent magnetism).  These properties are modelled here as scalar numeric values (swe:Quantity).  

Vector and tensor physical properties are considered to be more applicable to located observations and should be delivered as SamplingFeature/Observations with associated geologic unit or geologic structure features.</documentation>
		</annotation>
	</element>
	<complexType name="PhysicalDescriptionType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialAbstractDescriptionType">
				<sequence>
          <element minOccurs="0" name="propertyName" type="gml:ReferenceType">
						<annotation>
							<documentation>A term from a controlled vocabulary of physical properties of rock materials (eg; density, porosity, magnetic susceptibility, remnant magnetism, permeability, seismic velocity)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:PhysicalPropertyTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">PhysicalPropertyTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="propertyMeasure">
						<annotation>
							<documentation>A scalar measurement of the physical property of a rock material, unit or structure</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Quantity"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PhysicalDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:PhysicalDescription"/>
		</sequence>
	</complexType>
  <element name="RockMaterialDescription" substitutionGroup="gsmlb:EarthMaterialAbstractDescription" type="gsmle:RockMaterialDescriptionType">
		<annotation>
			<documentation>Extended descriptive attributes of a rock material.</documentation>
		</annotation>
	</element>
	<complexType name="RockMaterialDescriptionType">
		<complexContent>
			<extension base="gsmlb:EarthMaterialAbstractDescriptionType">
				<sequence>
          <element minOccurs="0" name="consolidationDegree">
						<annotation>
							<documentation>A property that specifies the degree to which an aggregation of EarthMaterial particles is a distinct solid material. Consolidation and induration are related concepts specified by this property. They define a continuum from unconsolidated material to very hard rock. Induration is the degree to which a consolidated material is made hard, operationally determined by how difficult it is to break a piece of the material. Consolidated materials may have varying degrees of induration (NADMSC, 2004)</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RockMaterialDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:RockMaterialDescription"/>
		</sequence>
	</complexType>
  <element name="SeparationValue" substitutionGroup="gsmle:DisplacementValue" type="gsmle:SeparationValueType">
		<annotation>
			<documentation>The amount of separation displacement across a structure.</documentation>
		</annotation>
	</element>
	<complexType name="SeparationValueType">
		<complexContent>
			<extension base="gsmle:DisplacementValueType">
				<sequence>
          <element minOccurs="0" name="separation" type="gsmlb:GSML_VectorPropertyType">
						<annotation>
							<documentation>Reported apparent offset of planar feature, report as vector.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SeparationValuePropertyType">
		<sequence>
			<element ref="gsmle:SeparationValue"/>
		</sequence>
	</complexType>
  <element name="ShearDisplacementStructureDescription" substitutionGroup="gsmlb:ShearDisplacementStructureAbstractDescription" type="gsmle:ShearDisplacementStructureDescriptionType">
		<annotation>
			<documentation>Extended descriptive properties of a shear displacement structure (ie, fault or shear).</documentation>
		</annotation>
	</element>
	<complexType name="ShearDisplacementStructureDescriptionType">
		<complexContent>
			<extension base="gsmlb:ShearDisplacementStructureAbstractDescriptionType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="stPhysicalProperty" type="gsmle:PhysicalDescriptionPropertyType">
            <annotation>
              <documentation>Arbitrary physical descriptions not covered specifically by this specification.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="deformationStyle" type="gml:ReferenceType">
						<annotation>
							<documentation>A mandatory element referring to a vocabulary of terms to describe the style of deformation, ie brittle (fault, breccia), ductile (shear), brittle-ductile, unknown.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmle:DeformationStyleTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">DeformationStyleTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="planeOrientation" type="gsmlb:GSML_PlanarOrientationPropertyType">
						<annotation>
							<documentation>Allows capturing the orientation of the plane of the structure</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ShearDisplacementStructureDescriptionPropertyType">
		<sequence>
			<element ref="gsmle:ShearDisplacementStructureDescription"/>
		</sequence>
	</complexType>
  <element name="SlipComponents" substitutionGroup="gsmle:DisplacementValue" type="gsmle:SlipComponentsType">
		<annotation>
			<documentation>Representation of slip as vector resolved into components resolved into reference frame in which horizontal axes are parallel and perpendicular to the strike of the fault.  At least one of heave, horizontalSlip, or throw must not be null.</documentation>
		</annotation>
	</element>
	<complexType name="SlipComponentsType">
		<complexContent>
			<extension base="gsmle:DisplacementValueType">
				<sequence>
          <element minOccurs="0" name="heave" type="gsmlb:GSML_VectorPropertyType">
						<annotation>
							<documentation>Component of slip in the horizontal, and perpendicular to the strike of the fault</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="horizontalSlip" type="gsmlb:GSML_VectorPropertyType">
						<annotation>
							<documentation>Slip component that is horizontal and parallel to strike of the fault</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="throw" type="gsmlb:GSML_VectorPropertyType">
						<annotation>
							<documentation>Vertical component of slip.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SlipComponentsPropertyType">
		<sequence>
			<element ref="gsmle:SlipComponents"/>
		</sequence>
	</complexType>
</schema>
