schemas/geosciml/4.0/geoSciMLBasic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by Eric Boisvert (Natural Resources Canada) -->
<!-- Version 4.0.0 - published at schemas.geosciml.org - 1 December 2015 -->
<!-- Version 4.0.1 - changed GeomophologicFeature-unitDescription association from 0..1 to 0..* - 1 February 2016 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:gsmlb="http://xmlns.geosciml.org/GeoSciML-Basic/4.0" xmlns:sam="http://www.opengis.net/sampling/2.0" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://xmlns.geosciml.org/GeoSciML-Basic/4.0" elementFormDefault="qualified" version="4.0.0">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
	<import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractFeatureRelation" substitutionGroup="gml:AbstractGML" type="gsmlb:AbstractFeatureRelationType">
    <annotation>
      <documentation>Association class placeholder to implement relation between geologic features</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractFeatureRelationType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
		<sequence>
      <element name="relatedFeature" type="gsmlb:GeologicFeaturePropertyType">
        <annotation>
          <documentation>General structure used to define relationships between any feature or object within GeoSciML. Relationships are always binary and directional.  There is always a single source and a single target.  The relationship is always defined from the perspective of the Source and is generally an active verb</documentation>
        </annotation>
      </element>
		</sequence>
      </extension>
    </complexContent>
	</complexType>
	<complexType name="AbstractFeatureRelationPropertyType">
    <sequence minOccurs="0">
			<element ref="gsmlb:AbstractFeatureRelation"/>
		</sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="AnthropogenicGeomorphologicFeature" substitutionGroup="gsmlb:GeomorphologicFeature" type="gsmlb:AnthropogenicGeomorphologicFeatureType">
    <annotation>
      <documentation>A geomorphologic feature (ie, landform) which has been created by human activity. For example, dredged channel, midden, open pit, reclaimed land.</documentation>
    </annotation>
  </element>
	<complexType name="AnthropogenicGeomorphologicFeatureType">
		<complexContent>
			<extension base="gsmlb:GeomorphologicFeatureType">
				<sequence>
          <element minOccurs="0" name="anthropogenicGeomorphologicFeatureType" type="gml:ReferenceType">
						<annotation>
              <documentation>A byReference link to a dictionary of terms describing the type of geomorphologic feature</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:AnthropogenicGeomorphologicFeatureTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AnthropogenicGeomorphologicFeatureTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnthropogenicGeomorphologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:AnthropogenicGeomorphologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="CompositionPart" substitutionGroup="gml:AbstractObject" type="gsmlb:CompositionPartType">
    <annotation>
      <documentation>Element to represent composition of a geologic unit in terms of earth material constituents.</documentation>
    </annotation>
  </element>
	<complexType name="CompositionPartType">
		<sequence>
      <element minOccurs="0" name="role" type="gml:ReferenceType">
				<annotation>
					<documentation>Defines the relationship of the earth material constituent in the geologic unit, e.g. vein, interbedded constituent, layers, dominant constituent. Scoped name because role is asserted by the geologist building the description.</documentation>
					<appinfo>
						<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:CompositionPartRoleTerm</targetElement>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">CompositionPartRoleTerm</targetCodeList>
					</appinfo>
				</annotation>
			</element>
      <element minOccurs="0" name="material">
        <annotation>
          <documentation>EarthMaterial composing the part.</documentation>
        </annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="gsmlb:CompoundMaterial"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element minOccurs="0" name="proportion">
				<annotation>
					<documentation>Quantity that specifies the fraction of the geologic unit composed of the compound material.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:QuantityRange"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="CompositionPartPropertyType">
		<sequence>
			<element ref="gsmlb:CompositionPart"/>
		</sequence>
	</complexType>
  <element abstract="true" name="CompoundMaterial" substitutionGroup="gsmlb:EarthMaterial" type="gsmlb:CompoundMaterialType">
		<annotation>
			<documentation>An EarthMaterial composed of particles composed of EarthMaterials, possibly including other CompoundMaterials. 

This class is provided primarily as an extensibility point for related domain models that wish to import and build on GeoSciML, and wish to define material types that are compound but are not rock or rock-like material. For most users of GeoSciML "RockMaterial" should be used.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="CompoundMaterialType">
		<complexContent>
      <extension base="gsmlb:EarthMaterialType">
        <sequence/>
      </extension>
		</complexContent>
	</complexType>
	<complexType name="CompoundMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:CompoundMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="Contact" substitutionGroup="gsmlb:GeologicStructure" type="gsmlb:ContactType">
		<annotation>
			<documentation>Very general concept representing any kind of surface separating two geologic units including primary boundaries such as depositional contacts, all kinds of unconformities, intrusive contacts, and gradational contacts, as well as faults that separate geologic units.

Bedding measured as discrete surfaces in the case that those are the feature of interest (e.g. individual cross set surfaces for paleocurrent analysis) should be represented here.</documentation>
		</annotation>
	</element>
	<complexType name="ContactType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="contactType" type="gml:ReferenceType">
						<annotation>
							<documentation>Classifies the contact (eg intrusive, unconformity, bedding surface, lithologic boundary, phase boundary)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:ContactTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ContactTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="stContactDescription" type="gsmlb:ContactAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed contact description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ContactPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:Contact"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="ContactAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:ContactAbstractDescriptionType">
		<annotation>
			<documentation>An abstract class providing a link between classes in GeoSciMLBasic and GeoSciMLExtended application schemas.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="ContactAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="ContactAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:ContactAbstractDescription"/>
		</sequence>
	</complexType>
	<simpleType name="DescriptionPurposeType">
		<annotation>
			<documentation>Codes used for the specification of the intended purpose/level of abstraction for a given feature or object instance, ie the reason for the existence of the GeologicFeature. 
Values: instance, typicalNorm, definingNorm.</documentation>
		</annotation>
		<union memberTypes="gsmlb:DescriptionPurposeEnumerationType gsmlb:DescriptionPurposeOtherType"/>
	</simpleType>
	<simpleType name="DescriptionPurposeEnumerationType">
		<annotation>
			<documentation>Codes used for the specification of the intended purpose/level of abstraction for a given feature or object instance, ie the reason for the existence of the GeologicFeature. 
Values: instance, typicalNorm, definingNorm.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="definingNorm">
				<annotation>
					<documentation>DefiningNorm -- a description that specifies properties sufficient to identify a new occurrence as belonging to the class represented by the description. Basically these are the 'sufficient conditions' for class membership. Used when presented with a query 'I have an outcrop with these properties; which geologic unit should I assign to the outcrop?' DefiningNorm has to do with the intension of a ControlledConcept.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="instance">
				<annotation>
					<documentation>Instance -- a description that is specific to a particular observed occurrence. This is 'raw data', and its classification may start out as very general. There are kinds of narrowly defined ControlledConcepts that might not allow 'instances' that are different from the DefiningNorm. It might be worth considering a different relationship between MappedFeature and an Instance GeologicEntity, with the GeologicEntity role being 'description'.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="typicalNorm">
				<annotation>
					<documentation>TypicalNorm -- a description that specifies properties to be expected of some occurrence associated with the GeologicEntity. This description may include many properties that are not part of the DefiningNorm. For example, the fact that granite is typically light-colored is not a defining property, but is certainly a useful typical property. These kinds of descriptions would be used to address queries like 'This area is within a polygon classified as Podunk Formation; what sort of lithology am I most likely to encounter when I start digging?' The Podunk Formation may be defined by the presence of a certain ammonite... TypicalNorm description would be constructed as a summary over many Instance descriptions.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="DescriptionPurposeOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
  <element abstract="true" name="EarthMaterial" substitutionGroup="gml:AbstractGML" type="gsmlb:EarthMaterialType">
		<annotation>
			<documentation>The Earth Material class holds a description of a naturally occurring substance in the Earth.  Earth Material represents material composition or substance, and is thus independent of quantity or location. Ideally, Earth Materials are defined strictly based on physical properties, but because of standard geological usage, genetic interpretations may enter into the description as well.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="EarthMaterialType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="color">
						<annotation>
							<documentation>Terms to specify color of the earth material.  Color schemes such as the Munsell rock and soil color schemes could be used.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="purpose" type="gsmlb:DescriptionPurposeType">
						<annotation>
							<documentation>Specification of the intended purpose/level of abstraction for the given EarthMaterial. Scoped name because intention is asserted by author of the data instance. 
Values: Instance, TypicalNorm, IdentifyingNorm.</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="gbEarthMaterialDescription" type="gsmlb:EarthMaterialAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed material description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EarthMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:EarthMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="EarthMaterialAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:EarthMaterialAbstractDescriptionType">
    <annotation>
      <documentation>Abstract description class for earth material.  This class is a placeholder for further extension in Extension package</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="EarthMaterialAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="EarthMaterialAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:EarthMaterialAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="Fold" substitutionGroup="gsmlb:GeologicStructure" type="gsmlb:FoldType">
		<annotation>
			<documentation>One or more systematically curved layers, surfaces, or lines in a rock body. Fold denotes a structure formed by the deformation of a GeologicStructure to form a structure that may be described by the translation of an abstract line (the fold axis) parallel to itself along some curvilinear path (the fold profile). Folds have a hinge zone (zone of maximum curvature along the surface) and limbs (parts of the deformed surface not in the hinge zone).  Folds are described by an axial surface, hinge line , profile geometry, the solid angle between the limbs, and the relationships between adjacent folded surfaces if the folded structure is a Layering fabric (similar, parallel).</documentation>
		</annotation>
	</element>
	<complexType name="FoldType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="profileType" type="gml:ReferenceType">
						<annotation>
							<documentation>Terminology specifying concave/convex geometry of fold relative to earth surface, and relationship to younging direction in folded strata if known. (eg; antiform, synform, neutral, anticline, syncline, monocline, ptygmatic)</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FoldProfileTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">FoldProfileTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="stFoldDescription" type="gsmlb:FoldAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed fold description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoldPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:Fold"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="FoldAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:FoldAbstractDescriptionType">
		<annotation>
			<documentation>An abstract class providing a link between classes in GeoSciMLBasic and GeoSciMLExtended application schemas.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="FoldAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="FoldAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:FoldAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="Foliation" substitutionGroup="gsmlb:GeologicStructure" type="gsmlb:FoliationType">
		<annotation>
			<documentation>A planar arrangement of textural or structural features in any type of rock.  Includes any of a wide variety of penetrative planar geological structures that may be present in a rock.  Examples include schistosity, mylonitic foliation, penetrative bedding structure (lamination), and cleavage.  Following the proposed definition of gneiss by the NADM Science Language Technical Team, penetrative planar foliation defined by layers &gt; 5 mm thick is considered Layering. 
Bedding as a fabric representing the average orientation of paleodepositional surface should be encoded through the foliationType; might apply to bedding that is layering or a foliation without layering (e.g. clast alignment in amalgamated beds).</documentation>
		</annotation>
	</element>
	<complexType name="FoliationType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="foliationType" type="gml:ReferenceType">
						<annotation>
							<documentation>Specifies the type of foliation.  Examples include crenulation cleavage, slaty cleavage, schistosity</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FoliationTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">FoliationTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="stFoliationDescription" type="gsmlb:FoliationAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed foliation description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FoliationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:Foliation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="FoliationAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:FoliationAbstractDescriptionType">
		<annotation>
			<documentation>An abstract class providing a link between classes in GeoSciMLBasic and GeoSciMLExtended application schemas.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="FoliationAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="FoliationAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:FoliationAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="GSML" substitutionGroup="gml:AbstractFeature" type="gsmlb:GSMLType">
		<annotation>
			<documentation>A collection container for items to be bundled in WFS response documents and other applications. FeatureType stereotype allows this to be a FeatureMember in a WFS_FeatureCollection.</documentation>
		</annotation>
	</element>
	<complexType name="GSMLType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element minOccurs="0" name="collectionType" type="gml:ReferenceType">
						<annotation>
              <documentation>Types of collections of geological and geophysical objects. (From INSPIRE)</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">CollectionTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" name="member" type="gsmlb:GSMLitemPropertyType">
						<annotation>
							<documentation>Points to a member of a GSML collection, which can be any of the GeoSciML classes that are listed in the GSMLitem union class.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSMLPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GSML"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GSML_GeometricDescriptionValue" substitutionGroup="gml:AbstractObject" type="gsmlb:GSML_GeometricDescriptionValueType">
		<annotation>
			<documentation>Description of the planar or linear orientation of a geologic feature.   
Allows specifying direction by DirectionVector (eg Dip/Dip Direction), compass point (NE),  description ("toward fold hinge", "below')</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GSML_GeometricDescriptionValueType">
		<sequence>
      <element minOccurs="0" name="determinationMethod" type="gml:ReferenceType">
				<annotation>
					<documentation>Describes the way the orientation value was determined (eg measured, inferred from dip slope, etc)</documentation>
					<appinfo>
						<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:DeterminationMethodTerm</targetElement>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">DeterminationMethodTerm</targetCodeList>
					</appinfo>
				</annotation>
			</element>
      <element minOccurs="0" name="descriptiveOrientation" type="string">
				<annotation>
					<documentation>Textual specification of orientation, possibly referencing some local geography</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="GSML_GeometricDescriptionValuePropertyType">
		<sequence>
			<element ref="gsmlb:GSML_GeometricDescriptionValue"/>
		</sequence>
	</complexType>
  <element name="GSML_LinearOrientation" substitutionGroup="gsmlb:GSML_GeometricDescriptionValue" type="gsmlb:GSML_LinearOrientationType">
		<annotation>
			<documentation>Description of the measured orientation of a line.  At least one of plunge or trend should not be nil.</documentation>
		</annotation>
	</element>
	<complexType name="GSML_LinearOrientationType">
		<complexContent>
			<extension base="gsmlb:GSML_GeometricDescriptionValueType">
				<sequence>
          <element minOccurs="0" name="directed" type="gml:ReferenceType">
						<annotation>
							<documentation>To indicate if orientation represents linear feature that is directed, e.g. clast imbrication, mylonitic lineation with sense of shear, slickenlines with displacement direction, rather than undirected.  A code list to indicate which is the directed end of the linear orientation</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:LinearDirectedCode</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">LinearDirectedCode</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="plunge">
						<annotation>
							<documentation>Magnitude of the plunge.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="trend">
						<annotation>
							<documentation>The azimuth (compass bearing) value of the linear orientation.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSML_LinearOrientationPropertyType">
		<sequence>
			<element ref="gsmlb:GSML_LinearOrientation"/>
		</sequence>
	</complexType>
  <element name="GSML_PlanarOrientation" substitutionGroup="gsmlb:GSML_GeometricDescriptionValue" type="gsmlb:GSML_PlanarOrientationType">
		<annotation>
			<documentation>Description of the geometry of a plane.</documentation>
		</annotation>
	</element>
	<complexType name="GSML_PlanarOrientationType">
		<complexContent>
			<extension base="gsmlb:GSML_GeometricDescriptionValueType">
				<sequence>
          <element minOccurs="0" name="convention" type="gml:ReferenceType">
						<annotation>
							<documentation>The convention used for the measurement</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:ConventionCode</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ConventionCode</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="azimuth">
						<annotation>
							<documentation>The azimuth (compass point, bearing etc) value of the orientation. Convention reports how azimuth is interpreted; if is quadrant. Allowance of different convention makes querying more difficult.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="dip">
						<annotation>
							<documentation>Dip is the angle that the structural surface (eg bedding, fault plane) makes with the horizontal measured perpindicular to the strike of the structure and in the vertical plane as a numeric or term</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="polarity" type="gml:ReferenceType">
						<annotation>
							<documentation>Indicates whether the planar orientation is associated with a directed feature that is overturned, upright, vertical etc.</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">PlanarPolarityCode</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSML_PlanarOrientationPropertyType">
		<sequence>
			<element ref="gsmlb:GSML_PlanarOrientation"/>
		</sequence>
	</complexType>
  <element name="GSML_QuantityRange" substitutionGroup="swe:QuantityRange" type="gsmlb:GSML_QuantityRangeType">
    <annotation>
      <documentation>GSML_QuantityRange range is a specialization of SWE Common (OGC 08-094r1, Clause 7.2.13)  QuantityRange where lower and upper values are made explicit, instead of using an array of values (RealPair, see Clause 7.2.1) where the lowest value is the first element and the highest the second.</documentation>
    </annotation>
  </element>
	<complexType name="GSML_QuantityRangeType">
		<complexContent>
			<extension base="swe:QuantityRangeType">
				<sequence>
          <element name="lowerValue" type="double">
            <annotation>
              <documentation>Lower bound of the range. Replaces the value that would be (and still be) encoded as value[0].</documentation>
            </annotation>
          </element>
          <element name="upperValue" type="double">
            <annotation>
              <documentation>Upper bound of the range. Replaces the value that would be (and still be) encoded as value[1].</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSML_QuantityRangePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GSML_QuantityRange"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GSML_Vector" substitutionGroup="gsmlb:GSML_LinearOrientation" type="gsmlb:GSML_VectorType">
		<annotation>
      <documentation>data type for linear orientation with magnitude. Cardinality on magnitude is 1, if magnitude is unknown use GSML_LinearOrientation</documentation>
		</annotation>
	</element>
	<complexType name="GSML_VectorType">
		<complexContent>
			<extension base="gsmlb:GSML_LinearOrientationType">
				<sequence>
          <element minOccurs="0" name="magnitude">
						<annotation>
							<documentation>The numerical length of a linear vector</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:QuantityRange"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GSML_VectorPropertyType">
		<sequence>
			<element ref="gsmlb:GSML_Vector"/>
		</sequence>
	</complexType>
	<complexType name="GSMLitemPropertyType">
		<sequence minOccurs="0">
			<group ref="gsmlb:GSMLitem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics" type="gsmlb:GSMLitemUnionSemantics"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="GSMLitemUnionSemantics">
		<restriction base="string">
			<enumeration value="earthMaterialItem"/>
			<enumeration value="featureItem"/>
			<enumeration value="geometryItem"/>
			<enumeration value="mappedItem"/>
			<enumeration value="relationItem"/>
			<enumeration value="samplingFeatureItem"/>
		</restriction>
	</simpleType>
	<group name="GSMLitem">
		<annotation>
			<documentation>GSMLitem is a union class that specifies the types of features that are allowed to be members of the GSML class, and therefore, members of a GML Collection.</documentation>
		</annotation>
		<choice>
			<element ref="gsmlb:EarthMaterial">
				<annotation>
					<documentation>The earthMaterialItem attribute is a placeholder for the EarthMaterial class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlb:GeologicFeature">
				<annotation>
					<documentation>The featureItem attribute is a placeholder for the GeologicFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gml:AbstractGeometry">
				<annotation>
					<documentation>The geometryItem attribute is a placeholder for the AbstractGeometry class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlb:MappedFeature">
				<annotation>
					<documentation>The mappedItem attribute is a placeholder for the MappedFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="gsmlb:AbstractFeatureRelation">
				<annotation>
					<documentation>The relationItem attribute is a placeholder for the FeatureRelation class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
			<element ref="sam:SF_SamplingFeature">
				<annotation>
					<documentation>The samplingFeatureItem attribute is a placeholder for the SamplingFeature class that is included as a member of a GSML Collection.</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- end of manual encoding of GSML collection -->
	<element name="GeologicEvent" type="gsmlb:GeologicEventType" substitutionGroup="gsmlb:GeologicFeature"/>
	<complexType name="GeologicEventType">
		<complexContent>
			<extension base="gsmlb:GeologicFeatureType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="eventProcess" type="gml:ReferenceType">
						<annotation>
							<documentation>The eventProcess specifies the process or processes that occurred during the event. Examples include deposition, extrusion, intrusion, cooling.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:EventProcessTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">EventProcessTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="numericAge" type="gsmlb:NumericAgeRangePropertyType">
						<annotation>
							<documentation>use of GSML_QuantityRange is recommended to have explicit upper and lower values</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="olderNamedAge" type="gml:ReferenceType">
						<annotation>
							<documentation>Older boundary of age of event expressed using a geochronologic era defined according to a geologic time scale per GeologicTime schema</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeochronologicEraTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeochronologicEraTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="youngerNamedAge" type="gml:ReferenceType">
						<annotation>
							<documentation>Younger boundary of age of event expressed using a geochronologic era defined according to a geologic time scale per GeologicTime schema</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeochronologicEraTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeochronologicEraTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="eventEnvironment">
						<annotation>
							<documentation>The physical setting within which a GeologicEvent takes place. GeologicEnvironment is construed broadly to include physical settings on the Earth surface specified by climate, tectonics, physiography or geography, and settings in the Earth’s interior specified by pressure, temperature, chemical environment, or tectonics.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="gaEventDescription" type="gsmlb:GeologicEventAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed event description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicEventPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeologicEvent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GeologicEventAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:GeologicEventAbstractDescriptionType">
    <annotation>
      <documentation>Stub property class to allow extended event related properties.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="GeologicEventAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="GeologicEventAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:GeologicEventAbstractDescription"/>
		</sequence>
	</complexType>
  <element abstract="true" name="GeologicFeature" substitutionGroup="gml:AbstractFeature" type="gsmlb:GeologicFeatureType">
		<annotation>
			<documentation>The abstract GeologicFeature class represents a conceptual feature that is hypothesized to exist coherently in the world.
   * this corresponds with a "legend item" from a traditional geologic map
   * while the bounding coordinates of a Geologic Feature may be described, its shape is not.

The implemented Geologic Feature instance acts as the "description package"

    * the description package is classified according to its purpose as an Instance, TypicalNorm, or DefiningNorm.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GeologicFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="observationMethod">
						<annotation>
							<documentation>Feature ObservationMethod specifies the approach to acquiring the collection of attribute values that constitute an individual feature instance (e.g. point count, brunton compass on site, air photo interpretation,  field observation, hand specimen, laboratory, aerial photography, creative imagination). ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view). For a borehole, the GeologicFeature observation method specifies how the geologic properties were determined (eg, visual observation, or standard AzGS logging procedure (described in detail somewhere else)).  This property corresponds (loosely) to ISO19115 Lineage.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="occurrence" type="gsmlb:MappedFeaturePropertyType">
            <annotation>
              <documentation>A description association that links a notional geologic feature with any number of mapped features.  A geologic feature, such as a geologic unit may be linked to mapped features from a number of different maps.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="purpose" type="gsmlb:DescriptionPurposeType">
						<annotation>
							<documentation>Specification of the intended purpose/level of abstraction for a given feature or object instance. Scoped name because intention is asserted by author of the data instance. Values are: instance, typicalNorm, definingNorm.</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedFeature" type="gsmlb:AbstractFeatureRelationPropertyType">
            <annotation>
              <documentation>General structure used to define relationships between any feature or object within GeoSciML. Relationships are always binary and directional.  There is always a single source and a single target.  The relationship is always defined from the perspective of the Source and is generally an active verb</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="classifier">
            <annotation>
              <documentation>A standard description or definition of the feature type (eg; the definition of a particular Geologic Unit in a stratigraphic lexicon)</documentation>
            </annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="geologicHistory" type="gsmlb:GeologicEventPropertyType">
            <annotation>
              <documentation>Relates one or more GeologicEvents to a GeologicFeature to describe their age or geologic history</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GeologicStructure" substitutionGroup="gsmlb:GeologicFeature" type="gsmlb:GeologicStructureType">
		<annotation>
			<documentation>A configuration of matter in the Earth based on describable inhomogeneity, pattern, or fracture in an EarthMaterial. 
The identity of a GeologicStructure is independent of the material that is the substrate for the structure. 
Properties like "clast-supported",  "matrix-supported", and "graded bed" that do not involve orientation are considered kinds of GeologicStructure 
because they depend on the configuration of parts of a rock body. Includes sedimentary structures.
The general GeologicRelation is used to associate penetrative GeologicStructures with GeologicUnits.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="GeologicStructureType">
		<complexContent>
			<extension base="gsmlb:GeologicFeatureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeologicStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="GeologicUnit" substitutionGroup="gsmlb:GeologicFeature" type="gsmlb:GeologicUnitType">
		<annotation>
			<documentation>Operationally, the GeologicUnit element is a container used to associate geologic properties with some mapped occurrence (through GeologicFeature.occurrence -&gt; MappedFeature link), or with a geologic unit ControlledConcept in a vocabulary (through the GeologicUnit.classifier -&gt;ControlledConcept link).

Conceptually, may represent a body of material in the Earth whose complete and precise extent is inferred to exist (NADM GeologicUnit, Stratigraphic unit in sense of NACSN or International Stratigraphic Code), or a classifier used to characterize parts of the Earth (e.g. lithologic map unit like 'granitic rock' or 'alluvial deposit', surficial units like 'till' or 'old alluvium').

Spatial properties are only available through association with a MappedFeature. Includes both formal units (i.e. formally adopted and named in the official lexicon) and informal units (i.e. named but not promoted to the lexicon) and unnamed units (i.e. recognisable and described and delineable in the field but not otherwise formalised).</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitType">
		<complexContent>
			<extension base="gsmlb:GeologicFeatureType">
				<sequence>
          <element minOccurs="0" name="geologicUnitType" type="gml:ReferenceType">
						<annotation>
							<documentation>A term from a controlled vocabulary defining the type of geologic unit. Logical constraints of definition of unit and valid property cardinalities should be contained in the definition. Use of the CGI Geologic Unit Type vocabulary (eg: something like http://geosciml.org/classifierScheme/CGI/GeologicUnitType/200811) is preferred.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeologicUnitTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeologicUnitTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="rank" type="gml:ReferenceType">
						<annotation>
							<documentation>Term that classifies the geologic unit in a generalization hierarchy from most local/smallest volume to most regional. Scoped name because classification is asserted, not based on observational data.
Examples: group, subgroup, formation, member, bed, intrusion, complex, batholith</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:RankTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">RankTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="composition" type="gsmlb:CompositionPartPropertyType">
						<annotation>
							<documentation>Describes the composition (detailed, instance specific, lithologic description) of the GeologicUnit</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="hierarchyLink" type="gsmlb:GeologicUnitHierarchyPropertyType">
						<annotation>
							<documentation>indicates a subsiduary unit with its role and proportion with respect to the container unit</documentation>
						</annotation>
					</element>
          <element maxOccurs="unbounded" minOccurs="0" name="gbMaterialDescription" type="gsmlb:EarthMaterialAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed material description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gbUnitDescription" type="gsmlb:GeologicUnitAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed unit description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicUnitPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeologicUnit"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GeologicUnitAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:GeologicUnitAbstractDescriptionType">
    <annotation>
      <documentation>Abstract description class for geologic units.  This class is a placeholder for further extension in Extension package</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="GeologicUnitAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="GeologicUnitAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:GeologicUnitAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="GeologicUnitHierarchy" substitutionGroup="gml:AbstractObject" type="gsmlb:GeologicUnitHierarchyType">
		<annotation>
      <documentation>GeologicUnitHierarchy associates a GeologicUnit with another GeologicUnit that is a proper part of that unit. Parts may be formal or notional. Formal parts refer to a specific body of rock, as in formal stratigraphic members. Notional parts refer to assemblages of particular EarthMaterials with particular internal structure, which may be repeated in various places within a unit (e.g. 'turbidite sequence', 'point bar assemblage', 'leucosome veins')</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitHierarchyType">
		<sequence>
      <element minOccurs="0" name="role" type="gml:ReferenceType">
				<annotation>
					<documentation>Nature of the parts, e.g. facies, stratigraphic, interbeds, geographic, eastern facies,</documentation>
					<appinfo>
						<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:GeologicUnitHierarchyRoleTerm</targetElement>
						<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">GeologicUnitHierarchyRoleTerm</targetCodeList>
					</appinfo>
				</annotation>
			</element>
      <element minOccurs="0" name="proportion">
				<annotation>
					<documentation>Quantity that specifies the fraction of the geologic unit formed by the part.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:QuantityRange"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="targetUnit" type="gsmlb:GeologicUnitPropertyType">
				<annotation>
					<documentation>Indicates the parent unit that contains the GeologicUnitPart.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="GeologicUnitHierarchyPropertyType">
		<sequence>
			<element ref="gsmlb:GeologicUnitHierarchy"/>
		</sequence>
	</complexType>
  <element abstract="true" name="GeomorphologicFeature" substitutionGroup="gsmlb:GeologicFeature" type="gsmlb:GeomorphologicFeatureType">
    <annotation>
      <documentation>A feature describing the shape and nature of the Earth's land surface (ie, a landform).  These landforms may be created by natural Earth processes (eg, river channel, beach, moraine, mountain) or through human (anthropogenic) activity (eg, dredged channel, reclaimed land, mine waste dumps).</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="GeomorphologicFeatureType">
		<complexContent>
			<extension base="gsmlb:GeologicFeatureType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0"  name="unitDescription" type="gsmlb:GeologicUnitPropertyType">
            <annotation>
              <documentation>For geological description of a geomorphological feature (eg, related stratigraphic units and earth materials)</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="gmFeatureDescription" type="gsmlb:GeomorphologicUnitAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed geomorphologic description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeomorphologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:GeomorphologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="GeomorphologicUnitAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:GeomorphologicUnitAbstractDescriptionType">
    <annotation>
      <documentation>Detailed geomorphologic unit description placeholder (stub class) for GeomorphologicUnit</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="GeomorphologicUnitAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="GeomorphologicUnitAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:GeomorphologicUnitAbstractDescription"/>
		</sequence>
	</complexType>
  <element name="MappedFeature" substitutionGroup="gml:AbstractFeature" type="gsmlb:MappedFeatureType">
		<annotation>
			<documentation>A MappedFeature is part of a geological interpretation. 
It provides a link between a notional feature (description package) and one spatial representation of it, or part of it. (Exposures, Surface Traces and Intercepts, etc)
    * the specific bounded occurrence, such as an outcrop or map polygon
    * the Mapped Feature carries a geometry or shape
          - the association with a Geologic Feature (legend item) provides specification of all the other descriptors
          - the association with a Sampling Feature provides the context and dimensionality 

A Mapped Feature is always associated with some sampling feature - e.g. a mapping surface, a section, a Borehole (see BoreHolesAndObservation) etc. As noted on the diagram, if the associated sampling feature is a Borehole, then the shape associated with the MappedFeature will usually be either a point or an interval. This reconciles the 2-D ("map", section) and 1-D (borehole, traverse) viewpoints in a common abstraction.</documentation>
		</annotation>
	</element>
	<complexType name="MappedFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="observationMethod">
						<annotation>
							<documentation>MappedFeature ObservationMethod is a metadata snippet indicating how the spatial extent of the mapped feature was determined, and the basis for association of the geometry with some GeologicFeature specification to define a MappedFeature. For a borehole, the MappedInterval observation method indicates how the boundaries of the interval were defined (eg, linear measurement from borehole collar). ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view). This property corresponds (loosely) to ISO19115 Lineage.  (eg: digitised, Global Positioning System, published map, fieldObservation, downhole survey, aerial photography, field survey)</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="positionalAccuracy">
						<annotation>
							<documentation>Quantitative values define the radius of an uncertainty buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a line feature defines a buffer polygon of total width 200 m centred on the line). Corresponds to ISO19115 DQ_PositionalAccuracy.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Quantity"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
          <element minOccurs="0" name="resolutionRepresentativeFraction" type="integer">
						<annotation>
							<documentation>An integer representing the denominator of the representative scale of the spatial feature.  (ie, 10,000 = the spatial feature is represented at 1:10,000 scale)</documentation>
						</annotation>
					</element>
          <element minOccurs="0" name="mappingFrame" type="gml:ReferenceType">
						<annotation>
              <documentation>Terms indicating the surface on which the MappedFeature is projected. (from INSPIRE)</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">MappingFrameTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="exposure" type="gml:ReferenceType">
						<annotation>
							<documentation>Description of the nature of the expression of the mapped feature at the earth's surface (eg, exposed, concealed)</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">ExposureTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="specification" type="gml:FeaturePropertyType">
						<annotation>
              <documentation>The feature being mapped.  In a geological map, MappedFeature are used to represent GeologicFeature, but other features from other domains could be represented</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">null:GFI_Feature</targetElement>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="shape" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>map geometry</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MappedFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:MappedFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="NaturalGeomorphologicFeature" substitutionGroup="gsmlb:GeomorphologicFeature" type="gsmlb:NaturalGeomorphologicFeatureType">
    <annotation>
      <documentation>A geomorphologic feature (ie, landform) that has been created by natural Earth processes. For example, river channel, beach ridge, caldera, canyon, moraine, mud flat.</documentation>
    </annotation>
  </element>
	<complexType name="NaturalGeomorphologicFeatureType">
		<complexContent>
			<extension base="gsmlb:GeomorphologicFeatureType">
				<sequence>
          <element minOccurs="0" name="naturalGeomorphologicFeatureType" type="gml:ReferenceType">
						<annotation>
              <documentation>A byReference link to a dictionary of terms describing the type of geomorphologic feature</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:NaturalGeomorphologicFeatureTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NaturalGeomorphologicFeatureTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="activity">
            <annotation>
              <documentation>Describes the current activity status of the geomorphologic feature (eg, currently active, dormant, inactive, reactivated, etc)</documentation>
            </annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="swe:Category"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NaturalGeomorphologicFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:NaturalGeomorphologicFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="NumericAgeRange" substitutionGroup="gml:AbstractObject" type="gsmlb:NumericAgeRangeType">
		<annotation>
			<documentation>Class to represent general age assignment using numeric measurement results. All attributes have cardinality 1; report with nilReason="missing" if a value is absent.</documentation>
		</annotation>
	</element>
	<complexType name="NumericAgeRangeType">
		<sequence>
      <element minOccurs="0" name="reportingDate">
				<annotation>
					<documentation>Single time coordinate value to report as representative for this NumericAge assignment</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Quantity"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element minOccurs="0" name="olderBoundDate">
				<annotation>
					<documentation>The older bounding time coordinate in an age range</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Quantity"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
      <element minOccurs="0" name="youngerBoundDate">
				<annotation>
					<documentation>The younger bounding time coordinate in an age range</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="swe:Quantity"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="NumericAgeRangePropertyType">
		<sequence>
			<element ref="gsmlb:NumericAgeRange"/>
		</sequence>
	</complexType>
  <element name="RockMaterial" substitutionGroup="gsmlb:CompoundMaterial" type="gsmlb:RockMaterialType">
		<annotation>
			<documentation>A specialized CompoundMaterial that includes consolidated and unconsolidated materials as well as mixtures of consolidated and unconsolidated materials.</documentation>
		</annotation>
	</element>
	<complexType name="RockMaterialType">
		<complexContent>
			<extension base="gsmlb:CompoundMaterialType">
				<sequence>
          <element minOccurs="0" name="lithology" type="gml:ReferenceType">
						<annotation>
							<documentation>lithology class from a controlled vocabulary</documentation>
							<appinfo>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">LithologyTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RockMaterialPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:RockMaterial"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element name="ShearDisplacementStructure" substitutionGroup="gsmlb:GeologicStructure" type="gsmlb:ShearDisplacementStructureType">
		<annotation>
			<documentation>A shear displacement structure includes all brittle to ductile style structures along which displacement has occurred, from a simple, single 'planar' brittle or ductile surface to a fault system comprised of 10's of strands of both brittle and ductile nature. This structure may have some significant thickness (a deformation zone) and have an associated body of deformed rock that may be considered a DeformationUnit</documentation>
		</annotation>
	</element>
	<complexType name="ShearDisplacementStructureType">
		<complexContent>
			<extension base="gsmlb:GeologicStructureType">
				<sequence>
          <element minOccurs="0" name="faultType" type="gml:ReferenceType">
						<annotation>
							<documentation>Refers to a vocabulary of terms describing the type of shear displacement structure (eg; thrust fault, normal fault, wrench fault).</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">gsmlb:FaultTypeTerm</targetElement>
								<targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">FaultTypeTerm</targetCodeList>
							</appinfo>
						</annotation>
					</element>
          <element minOccurs="0" name="stStructureDescription" type="gsmlb:ShearDisplacementStructureAbstractDescriptionPropertyType">
            <annotation>
              <documentation>Detailed shear displacement description.  This is a stub property in GeoSciML Basic</documentation>
            </annotation>
          </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ShearDisplacementStructurePropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlb:ShearDisplacementStructure"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
  <element abstract="true" name="ShearDisplacementStructureAbstractDescription" substitutionGroup="gml:AbstractObject" type="gsmlb:ShearDisplacementStructureAbstractDescriptionType">
		<annotation>
			<documentation>An abstract class providing a link between classes in GeoSciMLBasic and GeoSciMLExtended application schemas.</documentation>
		</annotation>
	</element>
  <complexType abstract="true" name="ShearDisplacementStructureAbstractDescriptionType">
		<sequence/>
	</complexType>
	<complexType name="ShearDisplacementStructureAbstractDescriptionPropertyType">
		<sequence>
			<element ref="gsmlb:ShearDisplacementStructureAbstractDescription"/>
		</sequence>
	</complexType>
</schema>
